.footer {
    background-color: #2b2f39;
}

.footer__content {
    padding-block: clamp(1.3rem, 0.77rem + 2.33vw, 2rem);
    color: #8e91ad;
    text-align: center;
}

.footer--inner .footer__content {
    padding-block: 1.37rem;
}

.footer__links {
    display: inline-flex;
    margin: 0.5em 0 0;
    padding: 0;
    list-style: none;
}

.footer__links > li + li {
    margin-left: 1.1em;
}

.footer__links .icon {
    width: 24px;
    height: 24px;
}

.footer__link {
    color: #aaacc1;
}

@media (min-width: 769px) {
    .footer--inner .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__links {
        margin-top: 0;
    }
}
