/* Page */

.page,
.page__body {
    min-block-size: 100vh;
}

.page {
    color: #464646;
    font-weight: 400;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #0000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.page__body {
    margin: 0;
    font-size: clamp(0.87rem, 0.68rem + 0.83vw, 1.12rem);
    line-height: 1.6;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    min-block-size: 100vh;
}

.main {
    flex: 1;
}
