.section {
    padding: 1.78rem 0;
    overflow: hidden;
}

.section--product,
.section--traditions,
.section--process {
    background-color: #f8f9fd;
}

.section__media {
    min-width: 0;
    max-width: 70vw;
    margin: 1rem auto 0;
}

.section--traditions .section__media {
    display: grid;
    gap: 2rem;
    max-width: none;
    margin-top: 2rem;
}

@media (min-width: 600px) {
    .section--traditions .section__media {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 769px) {
    .section {
        padding: 3.56rem 0;
    }

    .section__media {
        margin: 0;
    }

    .section--product .section__block {
        display: flex;
    }

    .section--product .section__description {
        order: 1;
        align-self: center;
    }

    .section--product .section__media {
        flex: 1 0 40%;
        margin-right: 3%;
    }
}

@media (min-width: 1000px) {
    .section--product .section__media {
        flex-basis: 47%;
    }
}

/* Section Progress */

.progress__column {
    min-height: 11ch;
    padding-left: 20%;
    background: 0 0 no-repeat;
    background-size: 15% auto;
}

.progress__column:nth-child(1) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 96 96'%3E%3Ccircle cx='48' cy='48' r='48' fill='%2353BCE7'/%3E%3Cpath fill='%23fff' d='M37.3 59.8a1.5 1.5 0 00-2.1-2.1l-8.8 8.7a1.5 1.5 0 102.2 2.2l8.7-8.8zM33.6 56a1.5 1.5 0 10-2.2-2l-5 5a1.5 1.5 0 102.2 2l5-5zM41 63.6a1.5 1.5 0 00-2-2.2l-5 5a1.5 1.5 0 102 2.2l5-5z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M46 67.1a8 8 0 001-5.9c2.6-1.4 5.8-3.5 8.5-5.5A18.6 18.6 0 0146 67zM37.2 48c2-3.4 4.8-7.4 7.1-9.6a35.6 35.6 0 0123.5-11.2c-.2 3-.8 6-1.7 8.8H50.9c-3.3 0-5 4-2.6 6.4l4.3 4.3c.5.5.1 1.3-.5 1.3H37.2zm9 10.2c3.6-2 8-5 10.4-7.5 3.8-3.8 6.5-7.6 8.3-11.7H51c-.6 0-1 .8-.5 1.3l4.3 4.3c2.4 2.4.7 6.4-2.6 6.4H39l7.2 7.2zm-13.2-9a71.5 71.5 0 016.4-9.7A18.6 18.6 0 0027.9 49a8 8 0 015.9-1l-.8 1.2zM71 25a38.9 38.9 0 01-12 27.6 21.5 21.5 0 01-17.4 19.3l-1.1.2c-1.3.2-2-1.4-1-2.3l3.3-3.3c2-2 2-5.1 0-7l-7.1-7.2a5 5 0 00-7.1 0l-3.3 3.3c-1 1-2.5.3-2.3-1l.2-1v-.1a21.5 21.5 0 0119.3-17.5l-.3.3a39 39 0 0128-12.2c.4 0 .8.4.8.9z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.progress__column:nth-child(2) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 96 96'%3E%3Ccircle cx='48' cy='48' r='48' fill='%2353BCE7'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M54 42.7a6 6 0 11-12 0 6 6 0 0112 0zm3 0a9 9 0 11-18 0 9 9 0 0118 0z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M50.1 60.9l3-3 3.6.6h.6l4.5 4.5-3.5 1.3-1.3 3.5-6.9-6.9zM34.2 63l4.5-4.5h.6L43 58l2.9 2.9-6.9 6.9-1.3-3.5-3.5-1.3zm19.2-32.5a3 3 0 01-2.5-.8L48 27H48L45 29.7a3 3 0 01-2.5.8L39 30l-.2.1L38 34a3 3 0 01-1.5 2.1L33 37.8s-.1.1 0 .2l1.6 3.4a3 3 0 010 2.7L33 47.5v.2l3.5 1.8a3 3 0 011.5 2.1l.7 3.8.2.1 3.7-.5a3 3 0 012.5.8l2.8 2.7h.2l2.8-2.7a3 3 0 012.5-.8l3.7.5.2-.1.7-3.8a3 3 0 011.5-2.1l3.4-1.8s.1-.1 0-.2L61.4 44a3 3 0 010-2.7L63 38v-.2L59.4 36a3 3 0 01-1.5-2.1l-.7-3.8-.2-.1-3.7.5zM50.2 25a3.2 3.2 0 00-4.4 0L43 27.5l-3.8-.5c-1.7-.2-3.3 1-3.6 2.6l-.6 3.7-3.4 1.8a3.2 3.2 0 00-1.4 4.2l1.7 3.4-1.7 3.5a3.2 3.2 0 001.4 4.2L35 52l.6 3.8c0 .4.2.7.4 1l-5.7 5.6c-.7.8-.4 2.1.6 2.5l4.4 1.6L37 71c.4 1 1.7 1.3 2.5.6L48 63l8.5 8.6c.8.7 2.1.4 2.5-.6l1.6-4.4L65 65c1-.4 1.3-1.7.6-2.5L59.9 57l.4-1 .6-3.8 3.4-1.7a3.2 3.2 0 001.4-4.2L64 42.7l1.7-3.4c.7-1.5.1-3.4-1.4-4.2L61 33.3l-.6-3.7a3.2 3.2 0 00-3.6-2.6l-3.8.5-2.7-2.6z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.progress__column:nth-child(3) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 96 96'%3E%3Ccircle cx='48' cy='48' r='48' fill='%2353BCE7'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M37.1 39.4a33.6 33.6 0 000 17.2 24 24 0 00-5.8 4.2 21 21 0 010-25.6 24 24 0 005.8 4.2zm1-3c1.2-3.3 3-6.3 5.1-8.9a21 21 0 00-9.9 5.5 21 21 0 004.7 3.5zm17.1 1.3c-1.5-4.3-4-8-7.2-10.7a25.4 25.4 0 00-7.2 10.7 21 21 0 0014.4 0zm3.7 1.7a33.7 33.7 0 010 17.2c2.1 1.1 4 2.5 5.8 4.2a21 21 0 000-25.6 24 24 0 01-5.8 4.2zm-6.1-11.9c2.2 2.6 4 5.6 5.2 9a21 21 0 004.7-3.5 21 21 0 00-10-5.5zm5.2 32c-1.3 3.4-3 6.4-5.2 9a21 21 0 009.9-5.5 21 21 0 00-4.7-3.5zm-17.2-1.2a21 21 0 0114.4 0c-1.5 4.3-4 8-7.2 10.7a25.4 25.4 0 01-7.2-10.7zm-1-2.9a24 24 0 0116.3 0 30.7 30.7 0 000-14.8 24 24 0 01-16.2 0 30.7 30.7 0 000 14.8zm3.4 13C41 66 39.2 63 38 59.6a21 21 0 00-4.7 3.5 21 21 0 0010 5.5zM49 72a24 24 0 0015.9-41.2A24 24 0 0047 24a24 24 0 001.7 48z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {
    .progress {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .progress__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0 0;
        background: 50% 0 no-repeat;
        background-size: 96px 96px;
    }
}

@media (max-width: 767px) {
    .progress__column br {
        display: none;
    }
}

.process__title {
    color: #5e7389;
    font-size: clamp(1.3rem, 0.92rem + 1.66vw, 1.8rem);
}

@media (min-width: 768px) {
    .process {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .progress__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0 0;
        background: 50% 0 no-repeat;
        background-size: 96px 96px;
    }

    .process__title,
    .progress__title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .process__column br {
        display: none;
    }
}

/* Section Vacancies */

@media (min-width: 960px) {
    .vacancies {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
}

.vacancies__list {
    padding: 0;
    line-height: 1;
    list-style: none;
}

.vacancies__item {
    position: relative;
    padding-left: 32px;
}

.vacancies__item::before {
    position: absolute;
    top: 1.13rem;
    left: 0;
    width: 24px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 32'%3E%3Cpath fill='%2353BCE7' fill-rule='evenodd' d='m12.66 28.87-.05.01a7.24 7.24 0 0 1-1.83.06c-2.58-.24-4.65-1.9-4.77-5a5.18 5.18 0 0 1 1.14-3.75c.1-.12.24-.27.4-.35a.32.32 0 0 1 .27 0 .3.3 0 0 1 .17.21c.01.09.14 1.07.68 1.63.23.24.53.4.93.38-.11-2.86.47-5.01 2.49-6.7a7.36 7.36 0 0 1 .42-.33.32.32 0 0 1 .31-.03c.1.05.17.14.18.25 0 .15.02.29.04.43v.06c.22 1.32 1.06 2.4 1.9 3.51.99 1.28 1.99 2.58 2.05 4.3.13 3.1-1.8 4.9-4.33 5.32Z' clip-rule='evenodd'/%3E%3Cpath fill='%235E7389' d='M15.02 1.32c0 .14.02.3.04.44v.08l.01.06c.38 3.29 2.22 6.01 4 8.65 2.02 3 3.93 5.83 3.93 9.45 0 6.02-3.38 10.08-9.08 10.87l-.08.01a14.1 14.1 0 0 1-3.73 0C4.41 30.08 1 26.02 1 20c0-2.33.44-5.57 2.54-7.8l.07-.08.12-.12C3.81 17 9 17.25 9 17.25V16c0-6.86 1.69-11.16 5.64-14.39l.2-.16.18-.13ZM15.33 0a.66.66 0 0 0-.38.13 18.58 18.58 0 0 0-.94.7v.02C9.46 4.55 8 9.44 8 16c-3.25-.74-3.32-4.54-3.34-4.75v-.01a.67.67 0 0 0-.95-.5c-.34.16-.64.5-.9.77C.7 13.76 0 17 0 20.01c0 7.13 4.39 11.09 9.98 11.85a15.15 15.15 0 0 0 4 .02l.11-.02C19.62 31.09 24 27.14 24 20c0-3.93-2.07-7-4.1-10-1.76-2.6-3.49-5.17-3.84-8.22v-.1l-.01-.04A9.8 9.8 0 0 1 16 .67a.67.67 0 0 0-.67-.67Z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: '';
}

.vacancies__item:not(:first-child) {
    padding-top: 1.13rem;
}

.vacancies__item:first-child::before {
    top: 0;
}

.vacancies__name {
    font-weight: 700;
    font-size: clamp(1.1rem, 0.8rem + 1.33vw, 1.5rem);
    line-height: 1.13;
}

.vacancies__salary {
    line-height: 1.75;
}

.benefits {
    margin-top: 2rem;
    padding: clamp(1rem, 0.62rem + 1.66vw, 1.5rem);
    background-color: #fdfdff;
    border: 1px solid #caccd8;
    border-radius: 0.5rem;
}

.benefits__item + .benefits__item {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #caccd8;
}

.benefits__title {
    display: flex;
    align-items: center;
    line-height: 1.4;
}

.benefits__title::before {
    flex: none;
    content: '';
    width: 64px;
    height: 64px;
    margin-right: 1rem;
    background: 50% 50% no-repeat;
    background-size: contain;
}

.benefits__item--health .benefits__title::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 64 63'%3E%3Cpath fill='%235E7389' d='M23.72 1.56a8.99 8.99 0 0 1 6.61 2.88 2.28 2.28 0 0 0 3.36 0 9.1 9.1 0 0 1 6.68-2.88 8.95 8.95 0 0 1 8.98 8.76c0 7.78-12.67 17.7-16.56 20.56a1.3 1.3 0 0 1-1.56 0c-3.88-2.89-16.56-12.9-16.56-20.56a8.89 8.89 0 0 1 8.98-8.76h.07Zm0-.98h-.08a9.86 9.86 0 0 0-9.97 9.74c0 8.07 12.69 18.16 16.96 21.33a2.33 2.33 0 0 0 2.77 0c4.27-3.13 16.95-13.14 16.95-21.33A9.91 9.91 0 0 0 40.37.58h-.02c-2.85 0-5.53 1.19-7.4 3.21-.26.27-.6.4-.94.4-.34 0-.68-.13-.93-.4a9.99 9.99 0 0 0-7.36-3.2Z'/%3E%3Cpath stroke='%2353BCE7' d='M34.15 23.4v-4.68c0-.22.18-.4.4-.4h4.8a.4.4 0 0 0 .41-.4v-3.38a.4.4 0 0 0-.4-.4h-4.8a.4.4 0 0 1-.41-.4V9.07a.4.4 0 0 0-.41-.4h-3.46a.4.4 0 0 0-.41.4v4.69a.4.4 0 0 1-.4.4h-4.8a.4.4 0 0 0-.41.4v3.37c0 .22.18.4.4.4h4.8c.23 0 .4.18.4.4v4.68c0 .22.2.4.42.4h3.46a.4.4 0 0 0 .4-.4Z'/%3E%3Cpath stroke='%235E7389' d='m48.6 30.54 6.63-12.28c.83-1.37 2.63-3.87 4.94-2.9 1.54.58 1.6 2.13 1.26 3.7'/%3E%3Cpath stroke='%235E7389' d='M46.97 52.74v-3.09c0-1.1 1.5-2.08 2.34-2.82l6.7-5.8c.58-.5 1-1.16 1.2-1.9l5.98-16c0-.05.02-.1.03-.14.34-1.57.16-3.61-1.44-3.95-1.91-.37-3.3 1.1-4.16 2.4-.07.11-3.35 7.39-3.42 7.5'/%3E%3Cpath stroke='%235E7389' d='m43.84 39.76 9.74-6.5a3.35 3.35 0 0 0 1.48-2.27c.34-2.21-1.89-2.8-3.71-1.78-.29.16-3.37 1.67-3.59 1.8l-8.75 5c-2.42 1.39-3.87 2.76-3.87 5.5l-.04 11.23'/%3E%3Cpath fill='%2353BCE7' d='M47.72 53.62c.1 0 .17.08.17.17V61.28c0 .1-.08.17-.17.17H34.85a.17.17 0 0 1-.17-.17v-7.49c0-.1.08-.17.17-.17h12.87Zm0-.98H34.85c-.65 0-1.17.52-1.17 1.15V61.28c0 .63.52 1.15 1.17 1.15h12.87c.65 0 1.17-.52 1.17-1.15v-7.49c0-.63-.52-1.15-1.17-1.15Z'/%3E%3Cpath stroke='%235E7389' d='M15.53 30.54 8.9 18.26c-.82-1.37-2.62-3.87-4.93-2.9-1.54.58-1.6 2.13-1.27 3.7'/%3E%3Cpath stroke='%235E7389' d='M17.16 52.74v-3.09c0-1.1-1.5-2.08-2.34-2.82l-6.69-5.8a3.8 3.8 0 0 1-1.2-1.9l-5.98-16c0-.05-.02-.1-.03-.14-.34-1.57-.17-3.61 1.44-3.95 1.91-.37 3.3 1.1 4.16 2.4.07.11 3.35 7.39 3.41 7.5'/%3E%3Cpath stroke='%235E7389' d='m20.3 39.76-9.75-6.5a3.35 3.35 0 0 1-1.48-2.27c-.33-2.21 1.9-2.8 3.72-1.78.29.16 3.37 1.67 3.59 1.8l8.75 5C27.55 37.4 29 38.77 29 41.5l.04 11.23'/%3E%3Cpath fill='%2353BCE7' d='M29.29 53.62c.1 0 .17.08.17.17V61.28c0 .1-.08.17-.17.17H16.42a.17.17 0 0 1-.17-.17v-7.49c0-.1.07-.17.17-.17H29.3Zm0-.98H16.42c-.65 0-1.17.52-1.17 1.15V61.28c0 .63.52 1.15 1.17 1.15H29.3c.64 0 1.17-.52 1.17-1.15v-7.49c0-.63-.53-1.15-1.17-1.15Z'/%3E%3C/svg%3E%0A");
}

.benefits__item--lifestyle .benefits__title::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 64 55'%3E%3Cpath stroke='%235E7389' d='M5.82 27.47H2.88c-1.13 0-2.05-.89-2.05-2V8.25c0-1.1.92-2 2.05-2h2.94M58.1 6.24h3.2c1.12 0 2.03.9 2.03 2v17.24c0 1.1-.91 2-2.04 2H58.1M20.84 22.9l2.28 2.83a7.37 7.37 0 0 1 1.62 4.62v22.07c0 .87.71 1.58 1.59 1.58h11.9c.8 0 1.46-.65 1.46-1.45V30.97c.1-3.23.88-3.1.88-3.1 2.62-1.91 3.76-5.56 3.33-7.5'/%3E%3Cpath stroke='%2353BCE7' d='M43.8 11.57h5.75M14.83 11.57h7.81M20.4 20.75h-5.57M49.55 20.75h-19.7'/%3E%3Cpath fill='%2353BCE7' d='M56.32 1.2c.58 0 1.04.46 1.04 1.02V31.5a1 1 0 0 1-.3.72c-.2.19-.46.3-.74.3h-5.75c-.57 0-1.04-.46-1.04-1.03V2.23c0-.56.47-1.02 1.04-1.02h5.75Zm0-.98h-5.75c-1.13 0-2.04.9-2.04 2V31.5c0 1.1.91 2 2.04 2h5.75c1.13 0 2.04-.9 2.04-2V2.21c0-1.1-.91-2-2.04-2ZM13.32 1.2c.58 0 1.05.46 1.05 1.02V31.5c0 .56-.47 1.01-1.05 1.01H7.85c-.58 0-1.05-.45-1.05-1.01V2.21c0-.56.47-1.02 1.05-1.02h5.47Zm0-.98H7.85c-1.13 0-2.05.9-2.05 2V31.5c0 1.1.92 2 2.05 2h5.47c1.13 0 2.05-.9 2.05-2V2.21c0-1.1-.92-2-2.05-2Z'/%3E%3Cpath stroke='%235E7389' d='M22.83 13.21v-2.65c0-1.45 1.2-2.62 2.68-2.62a2.66 2.66 0 0 1 2.7 2.62v2.65M36.1 18.96a2.66 2.66 0 0 1-2.7-2.63v-5.5c0-1.46 1.2-2.63 2.7-2.63a2.66 2.66 0 0 1 2.68 2.62v5.51c0 1.45-1.2 2.63-2.69 2.63Z'/%3E%3Cpath stroke='%235E7389' d='M41.38 18.96a2.66 2.66 0 0 1-2.69-2.63v-4.6c0-1.45 1.2-2.63 2.7-2.63a2.66 2.66 0 0 1 2.68 2.63v4.6c0 1.45-1.2 2.63-2.69 2.63ZM28.12 12.57V9.53c0-1.45 1.2-2.63 2.68-2.63a2.66 2.66 0 0 1 2.7 2.63v6.8c0 1.45-1.21 2.63-2.7 2.63a2.69 2.69 0 0 1-2.54-1.78'/%3E%3Cpath stroke='%235E7389' stroke-linejoin='round' d='M30.47 23.77c0-5.06-3.34-6.54-3.34-6.54h-.33c2.03 0 3.67-1.6 3.67-3.59v-.4a.48.48 0 0 0-.48-.47H23.2a2.94 2.94 0 0 0-2.97 2.9v5.54c0 .61.22 1.21.61 1.7'/%3E%3C/svg%3E");
}

@media (min-width: 960px) {
    .benefits {
        flex: 0 0 24rem;
        margin-top: 0;
    }
}

/* Section Social */

.section--social {
    color: #ffffff;
    background-color: #8b53b7;
}

.social__list {
    display: grid;
    gap: 1rem;
    margin: 2rem 0 0;
    padding: 0;
    list-style: none;
}

.social__list .social__link {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 0.77rem + 1vw, 1.3rem);
}

.social__link,
.social__link:hover {
    color: #ffffff;
}

.social__link .icon {
    flex: none;
    margin-right: 1rem;
    opacity: 0.7;
    transition: 0.2s linear;
}

.social__link:hover .icon {
    opacity: 1;
}

.social__note {
    font-weight: 300;
    font-size: clamp(1.1rem, 0.8rem + 1.33vw, 2rem);
    text-align: center;
}

@media (min-width: 769px) {
    .social__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .social__item {
        max-width: 20.6rem;
    }

    .social__list .social__link {
        flex-direction: column;
        text-align: center;
    }

    .social__list .social__link .icon {
        width: 48px;
        height: 48px;
        margin: 2rem auto 1rem;
    }

    .social__note {
        max-width: 80%;
        margin: auto;
    }
}

.section--article,
.section--videos {
    padding: 0.8rem 0;
}
