.swiper-container,
.teams__swiper {
    text-rendering: auto;
}

.teams__swiper {
    position: relative;
    z-index: 1;
    margin-inline: auto;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.teams__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.teams__item {
    display: inline-block;
    box-sizing: border-box;
    min-inline-size: 5rem;
    margin: 0;
    padding: 0.2rem 1rem;
    overflow: visible;
    color: #000;
    font-weight: 500;
    font-size: 0.87rem;
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    white-space: nowrap;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #53bce6;
    border-radius: 20px;
    cursor: pointer;
    transition: linear 0.2s;
}

.teams__item:not(.teams__item--active):is(:hover, :focus) {
    background-color: #cbf0fd;
    border-color: #03ade4;
}

.teams__item:focus {
    outline: none;
}

.teams__item--active {
    color: #fff;
    background-color: #53bce6;
}

.teams__item--active:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px #cbf0fd;
}

.teams__item--active,
.teams__item--active:hover {
    background-color: #53bce6;
}

.team {
    padding-block-start: 0.2rem;
}

.teams__swiper .swiper-button-next,
.teams__swiper .swiper-button-prev {
    position: absolute;
    inset-block-start: 0;
    inline-size: 32px;
    block-size: 32px;
    margin-block-start: 0;
    color: #fff;
    background-color: #53bce6;
    border-radius: 50%;
    opacity: 0.7;
}

.teams__swiper .swiper-button-next:hover,
.teams__swiper .swiper-button-prev:hover {
    opacity: 1;
}

.teams__swiper .swiper-button-next.swiper-button-disabled,
.teams__swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    filter: grayscale(1);
}

.teams__swiper .swiper-button-prev {
    inset-inline: auto 3rem;
}

.teams__swiper .swiper-button-next {
    inset-inline-end: 0;
}

.teams__swiper .swiper-button-next::after,
.teams__swiper .swiper-button-prev::after {
    font-weight: 700;
    font-size: 16px;
}

.teams__swiper .swiper-button-next::after {
    transform: translateX(0.09rem);
}

.teams__swiper .swiper-button-prev::after {
    transform: translateX(-0.09rem);
}
