<section class="section section--process">
    <div class="content">
        <div class="flow">
            <h2 class="section__title title" lang="en" id="process">Process</h2>
            <p>Процесс разработки Plesk основан на&nbsp;адаптации Agile практик&nbsp;&mdash; мы&nbsp;не&nbsp;используем
                Scrum или Kanban в&nbsp;чистом виде. Теория хороша в&nbsp;теории, поэтому мы&nbsp;берем самые
                подходящие для нас инструменты из&nbsp;этих фреймворков, а&nbsp;успехами, фейлами и&nbsp;хорошими
                практиками делимся на&nbsp;собраниях гильдий.</p>
            <div class="columns process">
                <div class="process__column column">
                    <h3 class="process__title title">Как мы&nbsp;<br> работаем</h3>
                    <ul class="list">
                        <li>Исследуем пользователей и&nbsp;формулируем их&nbsp;Jobs</li>
                        <li>Делаем грубую оценку (sizing)</li>
                        <li>Подход к&nbsp;итерациям зависит от&nbsp;продукта. Где-то живем по&nbsp;Continuous Delivery, где-то пользователь не&nbsp;готов к&nbsp;столь частым изменениям</li>
                        <li>Стабилизируем и&nbsp;тестируем продукт во&nbsp;всех возможных конфигурациях</li>
                        <li>Выпускаем публичную preview-версию продукта</li>
                        <li>Собираем обратную связь</li>
                        <li>Обеспечиваем максимальное качество и&nbsp;выпускаем релиз</li>
                    </ul>
                </div>
                <div class="process__column column">
                    <h3 class="process__title title">Как обеспечиваем качество</h3>
                    <ul class="list">
                        <li>Обязательный Code review</li>
                        <li>Осуществляем статическую проверку кода через SonarQube</li>
                        <li>Запускаем функциональные и&nbsp;юнит-тесты. Их&nbsp;реализует отдельная команда и&nbsp;собственный внутренний датацентр с&nbsp;пулом серверов для обслуживания инфраструктуры запуска тестов</li>
                        <li>Проверяем QA-инженерами</li>
                    </ul>
                </div>
                <div class="process__column column">
                    <h3 class="process__title title">Какие инструменты используем</h3>
                    <ul class="list">
                        <li>Для ведения задач и&nbsp;bug report&rsquo;ов используем JIRA</li>
                        <li>Наши инструменты: Jira, Confluence, Slack</li>
                        <li>Если сотрудники работают из&nbsp;дома, мы&nbsp;предлагаем лэптоп на&nbsp;выбор: Lenovo или Mac</li>
                        <li>Наш стек: зависит от&nbsp;продукта. <a href="#teams">Подробности здесь.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
