<section class="section section--speakers">
    <div class="content">
        <div class="section__block flow">
            <div class="section__description flow">
                <h3 class="section__title title" id="speakers">Рассказываем о технологиях, процессах и команде на YouTube</h3>
                <p>Слушайте доклады наших спикеров
                    с&nbsp;<a href="https://www.highload.ru/" target="_blank" rel="noopener noreferrer">HighLoad++</a>,
                    <a href="https://teamleadconf.ru/" target="_blank" rel="noopener noreferrer">TeamLead Conf</a>,
                    <a href="https://productcamp.ru/" target="_blank" rel="noopener noreferrer">Product Camp</a>,
                    <a href="https://sqadays.com/" target="_blank" rel="noopener noreferrer">SQA Days</a>,
                    <a href="https://devopsconf.io/" target="_blank" rel="noopener noreferrer">DevOpsConf</a>,
                    <a href="https://golangconf.ru/" target="_blank" rel="noopener noreferrer">GolangConf</a>,
                    <a href="https://codefest.ru/" target="_blank" rel="noopener noreferrer">CodeFest</a> и&nbsp;других
                    конференций, а&nbsp;также с&nbsp;митапов, квартирников и&nbsp;встреч профессиональных гильдий.</p>
                <p>
                    <a class="more-link" href="{{ 'videos' | url }}">
                        <span>Смотреть видео</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="article__link-arrow" width="24" height="24" viewBox="0 0 32 32"><path d="M21.188 9.281L19.78 10.72L24.063 15H4v2h20.063l-4.282 4.281l1.407 1.438L27.905 16z" fill="currentColor"></path></svg>
                    </a>
            </div>
            <div class="section__media">
                <img src="/images/teamleadconf.jpg" width="640" alt="" aria-hidden="true">
            </div>
        </div>
    </div>
</section>
