<!DOCTYPE html>
<html class="page {% if type %}page--{{ type }}{% endif %}" lang="ru">
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="stylesheet" href="/styles/styles.css">

    {% include 'partials/open-graph.njk' %}

    <link rel="canonical" href="{{ site.url }}" />
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/images/icons/icon.svg">
    <link rel="apple-touch-icon" href="/images/icons/180.png">
    <link rel="manifest" href="/manifest.json">
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TRW8874');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(87637968, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87637968" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Ads: 10840584529 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10840584529"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-10840584529');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217397390-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-217397390-1');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1028404827698292');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display: none;" src="https://www.facebook.com/tr?id=1028404827698292&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="page__body">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRW8874" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page__wrapper">
        {% include 'partials/header.njk' %}
        {% if type and type === 'main' %}
            {% include 'partials/hero.njk' %}
        {% endif %}

        {{ content | safe }}

        <button class="scroll-up" type="button" aria-label="Вернуться к началу">
            <svg class="scroll-up__svg" viewBox="-2 -2 52 52">
                <path class="scroll-up__svg-path" d="M24,0 a24,24 0 0,1 0,48 a24,24 0 0,1 0,-48" />
                <path class="scroll-up__svg-arrow" d="M12.43 27.68a1.85 1.85 0 002.1 0L24 20.67l9.46 7a1.85 1.85 0 002.1 0c.59-.42.59-1.12 0-1.55l-10.35-7.67A1.83 1.83 0 0024 18a1.83 1.83 0 00-1.2.45l-10.35 7.67a1 1 0 00-.32.34.9.9 0 000 .88 1 1 0 00.32.34h-.01z"/>
            </svg>
        </button>

        {% include 'partials/footer.njk' %}
    </div>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>
