---
title: JavaScript Developer (React)
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/42105232
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира. Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk. Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java. Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Core занимается разработкой бизнес-логики, интерфейсов (UI, CLI, Remote API), SaaS-сервисов и&nbsp;расширений продукта Plesk.</p>
            <p>Ключевые технологии проекта: PHP, JavaScript, MySQL, Linux, Selenium, PHPUnit, AWS</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие будут задачи</h3>
            <ul class="list">
                <li>Разработка нового функционала</li>
                <li>Поддержка существующего функционала</li>
                <li>Разработка автоматизированных тестов для продукта</li>
                <li>Исправление ошибок</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
            <ul class="list">
                <li>Диплом бакалавра или инженера техники и&nbsp;технологии</li>
                <li>Не&nbsp;менее 4-х лет опыта работы в&nbsp;сфере веб-разработки и/или смежных областях.</li>
            </ul>
            <h4 class="title">Обязательно</h4>
            <ul class="list">
                <li>Уверенное знание и&nbsp;практика использования JavaScript</li>
                <li>Понимание принципов построения современных веб-приложений</li>
                <li>Знание и&nbsp;опыт использования современных библиотек и&nbsp;фреймворков (предпочтительно React)</li>
                <li>Умение писать юнит-тесты и&nbsp;функциональные тесты</li>
                <li>Опыт командной работы (Git, code review, issue tracker)</li>
                <li>Опыт коммерческой разработки от&nbsp;4-х лет</li>
                <li>Знание английского на&nbsp;уровне чтения и&nbsp;написания технической документации</li>
                <li>Умение работать с&nbsp;большим объемом кода</li>
            </ul>
            <h4>Будет дополнительным плюсом</h4>
            <ul class="list">
                <li>Наличие профиля на&nbsp;GitHub и&nbsp;публичных коммитов</li>
                <li>Опыт построения крупных веб-приложений (от&nbsp;100&nbsp;тыс. строк)</li>
                <li>Знание PHP</li>
                <li>Знание Linux и/или Windows на&nbsp;уровне системного администратора</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
            <ul class="list">
                <li>Используем современный стек технологий (отправим вам изучить материал о&nbsp;процессах разработки, выстроенных в&nbsp;R&amp;D)</li>
                <li>Отправляем разработчиков прокачивать свои навыки на&nbsp;профессиональных конференциях в&nbsp;столицы и&nbsp;за&nbsp;рубеж</li>
                <li>Даем возможность разрабатывать и&nbsp;внедрять собственные фичи в&nbsp;узаконенный Research Day и&nbsp;делиться полученными знаниями с&nbsp;коллегами на&nbsp;регулярных Tech Talks</li>
                <li>Помогаем совершенствовать разговорный английский с&nbsp;лучшими преподавателями&nbsp;&mdash; бесплатно</li>
            </ul>
        </div>
    </div>
</section>
