---
title: Machine Learning Engineer
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/48590569
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира.</p>
            <p>Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk.</p>
            <p>Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java.</p>
            <p>Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Наша команда занимается созданием ценности продукта, продумывает, как сделать так, чтобы пользователям было удобно, чтобы пользователей было больше. Доводилось видеть продукты, сделанные неудобно? Так вот именно Plesk Program Manager Team отвечает за&nbsp;то, чтобы продукт решал задачи пользователей наилучшим образом. Изучает потребности, формулирует решения, проверяет результат.</p>
            <p>Здесь слушают и&nbsp;спрашивают клиентов, генерируют и&nbsp;проверяют гипотезы, делают выводы из&nbsp;метрик, ищут точки роста и&nbsp;планируют роадмапы.</p>
            <p>Здесь важно быть самостоятельным, иметь системное мышление, умение критически смотреть на&nbsp;идеи и&nbsp;решения, откидывать то&nbsp;что не&nbsp;работает и&nbsp;оставлять только то&nbsp;что работает.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Почему это может быть вам интересным?</h3>
            <ul class="list">
                <li>Вы&nbsp;перед собой видите challenge работать с&nbsp;зарубежными рынками Европы и&nbsp;США</li>
                <li>Plesk продукт с&nbsp;аудиторией в&nbsp;350K серверов и&nbsp;11млн+ сайтов по&nbsp;всему миру (да&nbsp;по&nbsp;меркам мобильных приложений это не&nbsp;много, но&nbsp;для web hosting это&nbsp;6% всех сайтов мирового интернета)</li>
                <li>Если у&nbsp;Вас есть амбиции строить решение по&nbsp;анализу данных и&nbsp;оказывать влияние на&nbsp;пользователей по&nbsp;всему миру (Евросоюз, США, Азия) то&nbsp;Вам представится такая возможность.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие задачи предстоит решать?</h3>
            <ul class="list">
                <li>Построение рекомендательной системы для пользователей продукта.</li>
                <li>Формирование персонализированных рекомендаций в&nbsp;продукте на&nbsp;основе пользовательских действий.</li>
                <li>Формирование персонализированных предложений в&nbsp;Marketplace на&nbsp;основле использования продукта.</li>
                <li>Построение системы анализа и&nbsp;предсказания критических действий пользователя (churn, обращение в&nbsp;саппорт).</li>
            </ul>
        </div>
    </div>
</section>
<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чего мы ожидаем от вас:</h3>
            <h4>Обязательные навыки</h4>
            <ul class="list">
                <li></li>
                <li>Формирование персонализированных рекомендаций в&nbsp;продукте на&nbsp;основе пользовательских действий.</li>
                <li>Формирование персонализированных предложений в&nbsp;Marketplace на&nbsp;основле использования продукта.</li>
                <li>Построение системы анализа и&nbsp;предсказания критических действий пользователя (churn, обращение в&nbsp;саппорт).</li>
            </ul>
            <h4>Желательные навыки</h4>
            <ul class="list">
                <li>Настройка логирования и&nbsp;мониторинга.</li>
                <li>Знание SQL (Redshift, BigQuery), Python, стек BigData (Hadoop, Spark).</li>
                <li>Опыт разработки сложных ETL-процессов.</li>
                <li>Практический опыт в&nbsp;ML (приветствуются примеры в&nbsp;Git, Kaggle).</li>
                <li>Опыт работы с&nbsp;рекомендательными системами (проектирование, разработка, внедрение)</li>
                <li>Знание алгоритмов анализа пользовательского опыта</li>
                <li>Опыт внедрения в&nbsp;производство готовой модели с&nbsp;REST API</li>
                <li>Навык и&nbsp;опыт работы с&nbsp;Docker, AirFlow, MLflow&nbsp;/DVC</li>
            </ul>
            <h4>Предпочтительный опыт</h4>
            <ul class="list">
                <li>Работа в&nbsp;проектах Web hosting, SaaS, PaaS, etc.</li>
                <li>Хорошее знание и&nbsp;понимание интернет-сервисов и&nbsp;инфраструктуры.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что предлагаем?</h3>
            <h4>Белая зарплата, ДМС, печеньки и&nbsp;фрукты&nbsp;&mdash; это уже классика. Что еще?</h4>
            <ul class="list">
                <li>Офисы в&nbsp;центре Новосибирска, в&nbsp;Академгородке или удаленка&nbsp;&mdash; на&nbsp;твой выбор.</li>
                <li>Research Days каждые две недели. Можно поиграть с&nbsp;интересными технологиями, создать прототип, поизучать новое одному или в&nbsp;команде.</li>
                <li>Обучение английскому. Документацию и&nbsp;общение с&nbsp;иностранными коллегами мы&nbsp;ведем на&nbsp;английском, поэтому учим его всей компанией.</li>
                <li>Учиться. Мы&nbsp;посещаем топ-конференции, тренинги, проходим сертификации. Еще у&nbsp;нас есть гильдии&nbsp;&mdash; сообщества, где коллеги из&nbsp;разных команд делятся опытом. Есть гильдии backend, frontend, QA, Kanban и&nbsp;т.д. По&nbsp;пятницам проводим Tech Talks на&nbsp;любые темы. Периодически проводим BizTalks где топ-менеджмент рассказывает в&nbsp;деталях как у&nbsp;нас дела.</li>
                <li>Учить. Можно сделать Tech Talk или выступить с&nbsp;докладом на&nbsp;внешней конференции. Желающих выступать мы&nbsp;отправляем в&nbsp;школу ораторского мастерства. Желающих писать статьи&nbsp;&mdash; на&nbsp;курсы писательства от&nbsp;Habr.</li>
            <h4>Если ваши зарплатные ожидания выше, откликайтесь, мы&nbsp;открыты к&nbsp;обсуждению.</h4>    
            </ul>
        </div>
    </div>
</section>
