---
title: DevOps/QA Engineer MetaCloud (Plesk 360)
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49536323
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>WebPros создан в&nbsp;2017&nbsp;году, с&nbsp;целью объединения программных решений используемых для веб-хостинга, автоматизации биллинга, инфраструктуры, управления серверами и&nbsp;онлайн-маркетинга.</p>
            <p>WebPros обеспечивает работу&nbsp;30% сайтов и&nbsp;веб-приложений в&nbsp;Интернете.</p>
            <p>В&nbsp;состав WebPros в&nbsp;входят Plesk, cPanel, Nixstats, SolusVM, WHMCS, XOVI и&nbsp;Koality.</p>
            <p>Мы&nbsp;обслуживаем 85&nbsp;миллионов веб-сайтов и&nbsp;900&nbsp;000&nbsp;серверов.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Наша глобальная команда состоит из&nbsp;более чем 600&nbsp;разработчиков, DevOps и&nbsp;QA инженеров по&nbsp;всему миру.</p>
            <p>Вы&nbsp;будете работать в&nbsp;кросс-функциональной команде над проектированием, созданием и&nbsp;внедрением нового продукта.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чем предстоит заниматься:</h3>
            <ul class="list">
            <li>Quality Assistance (оказание поддержки разработчикам в&nbsp;обеспечении качества)</li>
            <li>Ручное тестирование</li>
            <li>Участие в&nbsp;Code Review</li>
            <li>Развитие инфраструктуры CI/CD (Jenkins, Docker)</li>
            <li>Разработка deployment скриптов сервиса (Terraform, AWS)</li>
            <li>Обеспечение бесперебойной работы сервиса</li>
            <li>Исправление ошибок</li>
          </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы&nbsp;от&nbsp;тебя ожидаем:</h3>
            <ul class="list">
            <li>Опыт тестирования</li>
            <li>Хорошее знание Bash</li>
            <li>Опыт работы с&nbsp;Jenkins (или аналогичной системой)</li>
            <li>Опыт командной работы (JIRA, Git, ревью кода)</li>
            <li>Желание прокачивать hard и&nbsp;soft skills</li>
            <li>Ответственность, самоорганизованность, желание учиться</li>
            <li>Привычку общаться, давать и&nbsp;получать обратную связь</li>
          </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что вам понравится:</h3>
            <ul class="list">
                <li>работа в&nbsp;небольшой команде над новым проектом</li>
                <li>все мы&nbsp;профи своего дела и&nbsp;любим его</li>
                <li>обучение, повышение квалификации и&nbsp;обмен опытом на&nbsp;конференциях, митапах, tech- и&nbsp;biz talks</li>
                <li>расширенная ДМС в&nbsp;регионе и&nbsp;корпоративный врач</li>
                <li>конкурентная заработная плата</li>
                <li>совершенствовать разговорный английский с&nbsp;лучшими преподавателями</li>
            </ul>
        </div>
    </div>
</section>
