---
title: Full stack middle/senior developer (PHP/JavaScript)
---

<main class="main vacancy">
    <section class="section vacancy__heading">
        <div class="content">
            <a class="vacancy__back-link" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="8" viewBox="0 0 20 8"><path d="M.2 3.73a.45.45 0 00-.15.33.42.42 0 00.15.33l3.45 3.27c.1.08.22.13.35.13.13 0 .26-.05.35-.13.1-.1.14-.21.14-.34A.46.46 0 004.35 7L1.7 4.6h17.8c.13 0 .26-.06.35-.15.1-.09.15-.2.15-.33a.46.46 0 00-.15-.34.52.52 0 00-.35-.13H1.7l2.65-2.51c.1-.09.14-.2.14-.33a.46.46 0 00-.14-.33A.51.51 0 004 .33a.51.51 0 00-.35.14L.2 3.73z"/></svg>
                <span>Вернуться на <b>plesk.tech</b></span>
            </a>
            <h1 class="vacancy__title">{{ title }}</h1>
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/47421068" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>

    <section class="section vacancy__intro">
        <div class="content">
            <div class="vacancy__item flow">
                <h3 class="title">Продукт</h3>
                <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира. Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk. Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java. Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
            </div>
            <div class="vacancy__item flow">
                <h3 class="title">Команда</h3>
                <p>Работа в&nbsp;Modules&nbsp;&mdash; это возможность делать продукты, которые действительно нравятся пользователям. Помогают им&nbsp;достигать целей меньшими усилиями, устраняют препятствия и&nbsp;делают возможным&nbsp;то, что ранее казалось недоступным&nbsp;&mdash; в&nbsp;конечном счете, делают мир немногожечко лучше. Инженеры команды Modules, а&nbsp;это более 20&nbsp;разработчиков и&nbsp;тестировщиков, используют Plesk&nbsp;&mdash; открытую и&nbsp;расширяемую платформу&nbsp;&mdash; для построения инструментов, решающих прикладные задачи: развертывание и&nbsp;обслуживание веб-сайтов, анализ производительности, мониторинг, защита от&nbsp;атак и&nbsp;многое, многое другое.</p>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Какие будут задачи</h3>
                <ul class="list">
                    <li>Pазработка и поддержка интеграций продуктов компании (Plesk, SolusVM, SolusIO и др.) c биллинговой системой WHMCS.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
                <h4 class="title">Обязательно</h4>
                <ul class="list">
                    <li>Опыт в&nbsp;роли разработчика&nbsp;ПО от&nbsp;4-х лет.</li>
                    <li>Уверенное владение PHP (основной язык разработки).</li>
                    <li>Владение JavaScript на&nbsp;уровне, достаточном для решения прикладных задач.</li>
                    <li>Понимание прадигмы ООП и&nbsp;принципов SOLID.</li>
                    <li>Сильные навыки алгоритмизации.</li>
                    <li>Умение писать тестируемый код.</li>
                    <li>Знание английского на&nbsp;уровне Intermediate или выше.</li>
                </ul>
                <h4>Будет дополнительным плюсом</h4>
                <ul class="list">
                    <li>Успешный опыт во&nbsp;фрилансе (самостоятельность и&nbsp;самоорганизованность).</li>
                    <li>Опыт в&nbsp;роли системного аналитика или тестировщика ПО.</li>
                    <li>Понимание целей и&nbsp;практик DevOps и&nbsp;основ продуктовой разработки.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
                <ul class="list">
                    <li>Используем современный стек технологий (отправим вам изучить материал о&nbsp;процессах разработки, выстроенных в&nbsp;R&amp;D)</li>
                    <li>Отправляем разработчиков прокачивать свои навыки на&nbsp;профессиональных конференциях в&nbsp;столицы и&nbsp;за&nbsp;рубеж</li>
                    <li>Даем возможность разрабатывать и&nbsp;внедрять собственные фичи в&nbsp;узаконенный Research Day и&nbsp;делиться полученными знаниями с&nbsp;коллегами на&nbsp;регулярных Tech Talks</li>
                    <li>Помогаем совершенствовать разговорный английский с&nbsp;лучшими преподавателями&nbsp;&mdash; бесплатно</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/47421068" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>
    <script src="//embed.typeform.com/next/embed.js"></script>
</main>
