---
title: DevOps engineer
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49032330
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира.</p>
            <p>Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk.</p>
            <p>Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java.</p>
            <p>Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>В&nbsp;настоящий момент усилия команды направлены на&nbsp;предоставление услуг в&nbsp;виде публичных сервисов. Обеспечение надёжной работы внешних и&nbsp;внутренних сервисов, гарантия их&nbsp;производительности, гибкое масштабирование разрабатываемых систем&nbsp;&mdash; основные фокусы современного продукта Plesk.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие будут задачи</h3>
            <ul class="list">
                <li>Обеспечивать необходимый уровень надежности сервисов</li>
                <li>Предоставление рекомендаций к&nbsp;архитектуре сервисов</li>
                <li>Обеспечение масштабируемости и&nbsp;высокодоступности сервисов</li>
                <li>Мониторинг и&nbsp;автоматизация всех процессов жизнедеятельности сервиса.</li>
                <li>Прогнозирование и&nbsp;предотвращение сбоев в&nbsp;работе сервиса</li>
                <li>Реакция на&nbsp;инциденты и&nbsp;проведение последующего анализа</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Мы&nbsp;ожидаем, что&nbsp;Вы:</h3>
            <ul class="list">
                <li>Имеете опыт обслуживания сервиса с&nbsp;реальной нагрузкой&nbsp;&mdash; от&nbsp;6&nbsp;месяцев.</li>
                <li>Имеете опыт работы с&nbsp;UNIX-системами более трех лет;</li>
                <li>Уже занимались ранее построением и&nbsp;администрированием высоконагруженных отказоустойчивых систем;</li>
                <li>Понимаете как обеспечить работу сервиса 24/7;</li>
                <li>Способны настроить мониторинг для сервиса и&nbsp;понимаете полученные графики, можете делать выводы на&nbsp;их&nbsp;основе;</li>
                <li>Умеете программировать (python, bash, go);</li>
                <li>Умеете работать с&nbsp;Ansible;</li>
                <li>Уровень английского языка&nbsp;&mdash; от&nbsp;Intermediate</li>
                
            </ul>
            <h4>Будет дополнительным плюсом</h4>
            <ul class="list">
                <li>Опыт работы с&nbsp;Docker</li>
                <li>Опыт работы с&nbsp;Kubernetes</li>
                <li>Опыт работы с&nbsp;Amazon Web Services</li>
                <li>Опыт работы с&nbsp;Zabbix, Prometheus, Grafana, ELK.</li>
                <li>Опыт работы с&nbsp;Jenkins или GitLab CI</li>
            </ul>
            <h3>Важные для нас soft skills:</h4>
            <ul class="list">
                <li>Коммуникабельность. Работа предполагает активное взаимодействие с&nbsp;различными командами разработки.</li>
                <li>Обучаемость. Идеально, если вы&nbsp;считаете себя T-shape сотрудником&nbsp;&mdash; &laquo;вы&nbsp;эксперт в&nbsp;одной области и&nbsp;имеете широкий кругозор и&nbsp;опыт в&nbsp;смежных областях&raquo;.</li>
                <li>Аналитический склад ума. Также очень важно, если вы&nbsp;способны объяснять сложные вещи простыми словами.</li>
                <li>Ответственность. Работа предполагает запуск, эксплуатацию нагруженных сервисов с&nbsp;большим количеством посетителей.</li>
            </ul>
        </div>
    </div>
</section>
