---
title: DevOps engineer
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49032330
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Plesk&nbsp;&mdash; контрольная панель для автоматизации администрирования сервера. Plesk широко применяется для администрирования web хостинга, поскольку позволяет свести операции по&nbsp;настройки веб-сервера к&nbsp;простым операциям в&nbsp;контрольной панели. Plesk может быть установлен на&nbsp;Linux и&nbsp;Windows сервера.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>В&nbsp;настоящий момент усилия команды направлены на&nbsp;предоставление услуг в&nbsp;виде публичных сервисов. Обеспечение надёжной работы внешних и&nbsp;внутренних сервисов, гарантия их&nbsp;производительности, гибкое масштабирование разрабатываемых систем&nbsp;&mdash; основные фокусы современного продукта Plesk.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие будут задачи</h3>
            <ul class="list">
                <li>Обеспечивать необходимый уровень надежности сервисов</li>
                <li>Предоставление рекомендаций к&nbsp;архитектуре сервисов</li>
                <li>Обеспечение масштабируемости и&nbsp;высокодоступности сервисов</li>
                <li>Мониторинг и&nbsp;автоматизация всех процессов жизнедеятельности сервиса.</li>
                <li>Прогнозирование и&nbsp;предотвращение сбоев в&nbsp;работе сервиса</li>
                <li>Реакция на&nbsp;инциденты и&nbsp;проведение последующего анализа</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Мы&nbsp;ожидаем, что&nbsp;Вы:</h3>
            <ul class="list">
                <li>имеете опыт обслуживания сервиса с&nbsp;реальной нагрузкой&nbsp;&mdash; от&nbsp;6&nbsp;месяцев.</li>
                <li>имеете опыт работы с&nbsp;UNIX-системами более трех лет;</li>
                <li>уже занимались ранее построением и&nbsp;администрированием высоконагруженных отказоустойчивых систем;</li>
                <li>понимаете как обеспечить работу сервиса 24/7;</li>
                <li>способны настроить мониторинг для сервиса и&nbsp;понимаете полученные графики, можете делать выводы на&nbsp;их&nbsp;основе;</li>
                <li>умеете программировать (python, bash, go);</li>
                <li>умеете работать с&nbsp;Ansible;</li>
                <li>уровень английского языка&nbsp;&mdash; от&nbsp;Intermediate</li>
                
            </ul>
            <h4>Будет дополнительным плюсом</h4>
            <ul class="list">
                <li>опыт работы с&nbsp;Docker</li>
                <li>опыт работы с&nbsp;Kubernetes</li>
                <li>опыт работы с&nbsp;Amazon Web Services</li>
                <li>опыт работы с&nbsp;Zabbix, Prometheus, Grafana, ELK.</li>
                <li>опыт работы с&nbsp;Jenkins или GitLab CI</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <h4>Важные для нас soft skills:</h4>
            <ul class="list">
                <li>Коммуникабельность. Работа предполагает активное взаимодействие с&nbsp;различными командами разработки.</li>
                <li>Обучаемость. Идеально, если вы&nbsp;считаете себя T-shape сотрудником&nbsp;&mdash; &laquo;вы&nbsp;эксперт в&nbsp;одной области и&nbsp;имеете широкий кругозор и&nbsp;опыт в&nbsp;смежных областях&raquo;.</li>
                <li>Аналитический склад ума. Также очень важно, если вы&nbsp;способны объяснять сложные вещи простыми словами.</li>
                <li>Ответственность. Работа предполагает запуск, эксплуатацию нагруженных сервисов с&nbsp;большим количеством посетителей.</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
            <ul class="list">
                <li>Каждую неделю один человек из&nbsp;команды занимается всеми внешними обращениями, другие члены команды в&nbsp;это время сфокусированно занимаются &laquo;стратегическими&raquo; задачами. Затем меняемся.</li>
                <li>Раз в&nbsp;две недели проходит встреча security гильдии, где мы&nbsp;обсуждаем с&nbsp;разработчиками насущные проблемы, рассказываем о&nbsp;новых инструментах, формируем вокруг себя группу Security Champion-ов внутри команд разработки.</li>
                <li>Весь документооборот (в&nbsp;Confluence, Jira и&nbsp;почте) ведется на&nbsp;английском языке, будьте готовы много писать и&nbsp;читать.</li>
            </ul>
        </div>
    </div>
</section>
