---
title: Technical Support Engineer (Solus)
salary: от 90 000 до 110 000 руб. на руки
Посмотреть вакансию на hh.ru: https://novosibirsk.hh.ru/vacancy/49864700
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Solus Virtual Manager (SolusVM)&nbsp;&mdash; это контрольная панель для автоматизации администрирования серверов с&nbsp;полной поддержкой OpenVZ, Linux KVM, Xen Paravirtualization и&nbsp;Xen HVM.</p>
            <p>SolusVM вместе с&nbsp;Plesk, cPanel, Nixstats, WHMCS, XOVI и&nbsp;Koality входят в&nbsp;состав WebPros. WebPros обеспечивает работу&nbsp;30% сайтов и&nbsp;веб-приложений в&nbsp;Интернете.</p>
            <p>WebPros сейчас это 85&nbsp;миллионов веб-сайтов и&nbsp;900&nbsp;000&nbsp;серверов, наша глобальная команда состоит из&nbsp;более чем 600&nbsp;разработчиков, DevOps, QA&nbsp;и&nbsp;Support инженеров по&nbsp;всему миру.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Support&nbsp;&mdash; это, без преувеличения, лицо компании. Непрерывно инженеры решают различные задачи связанные с&nbsp;работой продукта и&nbsp;всех сервисов, которыми управляет Solus, гарантируя устойчивую и&nbsp;бесперебойную работу для наших клиентов.</p>
            <p>Мы&nbsp;очень плотно взаимодействуем с&nbsp;департаментом разработки, выступая &laquo;голосом&raquo; клиентов, помогая улучшать и&nbsp;развивать продукт.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Кого мы&nbsp;ищем:</h3>
            <ul class="list">
                <li>Инженера с&nbsp;опытом системного администратора для работы в&nbsp;сопровождении продуктов Solus.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чем ты&nbsp;будешь заниматься?</h3>
            <ul class="list">
                <li>Техническим сопровождением продуктов семейства Solus</li>
                <li>Решением задач, связанных с&nbsp;системным администрированием OpenVZ, Linux KVM, Paravirtualization и&nbsp;Xen HVM.Далее ты&nbsp;приступишь к&nbsp;решению задач непосредственно на&nbsp;серверном окружении клиентов под руководством опытного ментора</li>
                <li>Ведением внутренней и&nbsp;внешней базы знаний о&nbsp;продуктах Solus и&nbsp;процедурах устранения неполадок</li>
                <li>Взаимодействием с&nbsp;департаментом разработок, работа над улучшением качества и&nbsp;функционала продукта</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы&nbsp;ждем от&nbsp;тебя?</h3>
            <ul class="list">
                <li>Умение излагать свои мысли на&nbsp;английском языке устно и&nbsp;письменно на&nbsp;уровне upper-intermediate</li>
                <li>Опыт работы системным администратором, специалистом технической поддержки (Linux)</li>
                <li>Опыт работы с&nbsp;северными операционными системами, ключевыми сервисами и&nbsp;сетевыми протоколами (Linux)</li>
                <li>Техническое образование в&nbsp;IT сфере</li>
            </ul>
            <h3 class="title">Будет плюсом</h3>
            <ul class="list">
                <li>Опыт работы с&nbsp;системами мониторинга (Linux)</li>
                <li>Опыт настройки сети и&nbsp;сетевых служб (Linux)</li>
                <li>Опыт работы с&nbsp;Docker</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что предлагаем?</h3>
            <ul class="list">
                <li>Конкурентную заработную плату</li>
                <li>Обучение и&nbsp;международную сертификацию RHCSA, RHCE, LPIC, LFCE etc.</li>
                <li>Прозрачную схему карьерного роста как внутри департамента, так и&nbsp;возможность дальнейшего развития в&nbsp;компании на&nbsp;такие позиции как&nbsp;QA инженер, DevOps или PHP/Java/JS разработчик</li>
                <li>Корпоративные курсы английского</li>
                <li>Компенсацию занятий спортому</li>
                <li>Полный соцпакет + ДМС</li>
            </ul>
        </div>
    </div>
</section>
