---
title: Global Service Desk Engineer
salary: от 60 000 до 80 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/44612135
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира.</p>
            <p>Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk.</p>
            <p>Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java.</p>
            <p>Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
       </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Инженер ServiceDesk входит в&nbsp;большую распределённую команду технической поддержки, которая обеспечивает бесперебойную работу наших сотрудников по&nbsp;всему миру. Мы&nbsp;ищем человека, которому нравится работать с&nbsp;ИТ технологиями, искать новые решения, и&nbsp;в&nbsp;то&nbsp;же время способного осуществлять поддержку и&nbsp;выстраивать отношения с&nbsp;конечными пользователями.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие будут задачи</h3>
            <ul class="list">
                <li>Обеспечивать техническую поддержку конечных пользователей (сотрудников компании).</li>
                <li>Разрабатывать архитектурные требования к&nbsp;пользовательским машинам (как физическим, так и&nbsp;виртуальным).</li>
                <li>Обеспечивать внедрение и&nbsp;обслуживание клиентских машин в&nbsp;организации, включая установку, обновления, устранение неполадок, развертывание программного обеспечения.</li>
                <li>Обеспечивать процессы упаковки, развертывания, документирования и&nbsp;управления релизами приложений в&nbsp;корпоративной среде.</li>
                <li>Нести ответственность за&nbsp;полноту и&nbsp;актуальность документации, включая планы проектов, планы резервного копирования, обновления, поддержание актуальности рекомендаций по&nbsp;устранению неполадок.</li>
                <li>Автоматизировать процессы развертывания и&nbsp;управления.</li>
                <li>Взаимодействовать с&nbsp;поставщиками оборудования и&nbsp;ПО.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
            <ul class="list">
                <li>Более 3&nbsp;лет опыта работы с&nbsp;MS&nbsp;Office 2013, 2016 и&nbsp;o365.</li>
                <li>Более 5&nbsp;лет опыта поддержки&nbsp;ПК с&nbsp;Windows и&nbsp;macOS.</li>
                <li>Опыт работы с&nbsp;MS&nbsp;Active Directory более 3&nbsp;лет&nbsp;&mdash; как минимум, управление пользователями и&nbsp;компьютерами.</li>
                <li>Опыт использования любой системы для создания, управления и&nbsp;развертывания пакетов приложений, образов операционных систем и&nbsp;исправлений.</li>
                <li>Опыт работы с&nbsp;инструментами управления безопасностью и&nbsp;уязвимостями, такими как WSUS, любое антивирусное корпоративное решение, системы шифрования конечных точек (BitLocker, FileVault).</li>
                <li>Опыт работы со&nbsp;средствами диагностики сети.</li>
                <li>Желательно иметь опыт работы с&nbsp;Microsoft Intune, а&nbsp;также опыт работы с&nbsp;Jamf (или любым другим решением MDM).</li>
                <li>Уверенный английский&nbsp;&mdash; не&nbsp;ниже уровней В1-В2.</li>
                <li>Умение работать с&nbsp;людьми и&nbsp;сохранять хорошие отношения.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы предлагаем</h3>
            <ul class="list">
                <li>официальное трудоустройство по&nbsp;ТК&nbsp;РФ (бессрочный договор)</li>
                <li>конкурентную белую заработную плату</li>
                <li>работу в&nbsp;команде профессионалов</li>
                <li>расширенную ДМС и&nbsp;наличие врача в&nbsp;офисе</li>
                <li>бесплатные корпоративные курсы английского</li>
                <li>корпоративные мероприятия и&nbsp;вечеринки несколько раз в&nbsp;год</li>
                <li>теплая подземная автостоянка</li>
                <li>настольный теннис, турник или настольный футбол, возможность перемещаться по&nbsp;офису на&nbsp;самокате или скейтборде</li>
                <li>посещение бассейна и&nbsp;игра в&nbsp;футбольной команде</li>
                <li>возмещение затрат на&nbsp;спорт&nbsp;/ фитнес</li>
                <li>кофе, йогурт, чай, фрукты и&nbsp;печенье в&nbsp;офисе</li>
            </ul>
        </div>
    </div>
</section>
