title: Product Manager
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/48779565 
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира. Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk. Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java. Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Plesk Program Manager&nbsp;— в&nbsp;нашем случае это Technical Product Manager в&nbsp;Plesk.</p><p>Product Manager&nbsp;— потому что занимается созданием ценности продукта, продумывает, как сделать так, чтобы пользователям было удобно, чтобы пользователей было больше. А&nbsp;Technical&nbsp;— потому что наша аудитория&nbsp;— это разработчики сайтов и&nbsp;системные администраторы.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Почему это может быть вам интересным?</h3>
            <ul class="list">
                <li>Вы&nbsp;перед собой видите challenge работать с&nbsp;зарубежными рынками Европы и&nbsp;США.</li>
                <li>Plesk продукт с&nbsp;аудиторией в&nbsp;350K серверов по&nbsp;всему миру (да&nbsp;по&nbsp;меркам мобильных приложений это не&nbsp;много), но&nbsp;это&nbsp;6% всех сайтов мирового интернета.</li>
                <li>Если&nbsp;вы, пользуясь каким-либо софтом или сервисом, ловили себя на&nbsp;мысли &laquo;Как так можно было сделать?!&raquo;. Если вы&nbsp;можете сформулировать &laquo;как улучшить&raquo; и&nbsp;прямо сейчас готовы прийти к&nbsp;разработчикам этого софта или сервиса и&nbsp;объяснить за&nbsp;&laquo;жизнь&raquo; как должно быть &laquo;чтобы работало для пользователя хорошо!&raquo;, то&nbsp;это та&nbsp;самая работа, где можно сделать продукт, удобный для пользователя!</li>
                <li>Если вы&nbsp;сталкивались с&nbsp;тем, что на&nbsp;рынке появилась хорошая технология (например, Docker, Gitlab), поддержку которой никак не&nbsp;сделают в&nbsp;вашей любимой ОС, IDE или любом другом Tool, в&nbsp;котором она была&nbsp;бы очень полезна, и&nbsp;вы&nbsp;даже уже представляете, какие там будут сценарии использования, то&nbsp;это та&nbsp;самая работа, где вы&nbsp;можете убедить и&nbsp;мотивировать команду реализовать задуманное!</li>
                <li>Если вы&nbsp;понимаете, что есть &laquo;нечто&raquo; в&nbsp;продукте (несмотря на&nbsp;то, что сделано давно, и&nbsp;никто не&nbsp;жаловался), но&nbsp;оно действительно неудобно и&nbsp;работает для пользователя не&nbsp;эффективно&nbsp;&mdash; не&nbsp;молчите! Давайте ломать шаблоны и&nbsp;переделывать!</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что именно делает и что важно?</h3>
            <ul class="list">
                <li>Слушают и&nbsp;спрашивают клиентов, генерируют и&nbsp;проверяют гипотезы, делают выводы из&nbsp;метрик, ищут точки роста и&nbsp;планируют роадмапы.</li>
                <li>Важно быть самостоятельным, иметь системное мышление, умение критически смотреть на&nbsp;идеи и&nbsp;решения, откидывать то&nbsp;что не&nbsp;работает и&nbsp;оставлять только то&nbsp;что работает.</li>
                <li>Работает с&nbsp;ребятами из&nbsp;разработки и&nbsp;UI/UX команд, убеждает их&nbsp;и&nbsp;мотивирует делать фичи, обосновывая влиянием на&nbsp;value для пользователя и/или ростом для компании.</li>
                <li>Пишет понятные фиче-спеки.</li>
                <li>Делает анализ данных и&nbsp;формулирует выводы.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
            <h4 class="title">Обязательно</h4>
            <ul class="list">
                <li>Навыки управления продуктом
                    <ul class="list">
                        <li>анализ рынка</li>
                        <li>продуктовые метрики</li>
                        <li>конкурентный анализ</li>
                        <li>точки роста продукта, гипотезы, A/B эксперименты</li>
                    </ul>
                </li>
                <li>Работа с&nbsp;данными (SQL, Excel, любые&nbsp;BI системы)</li>
                <li>Системы online аналитики (Amplitude, GA, Yandex Metric, etc)</li>
                <li>Умение коммуницировать с&nbsp;людьми, это значит умение слушать и&nbsp;слышать, а&nbsp;так&nbsp;же договариваться и&nbsp;убеждать.</li>
                <li>Умение добраться до&nbsp;сути из&nbsp;набора разрозненной, неполной или даже противоречивой информации</li>
                <li>Способность делать конкретные четкие выводы из&nbsp;проанализированной информации</li>
                <li>Умение кратко, но&nbsp;полно и&nbsp;ясно изложить мысль, в&nbsp;том числе в&nbsp;письменной форме</li>
                <li>Знание английского языка: переписка и&nbsp;внутренние документы на&nbsp;английском. Если это единственное слабое место&nbsp;&mdash; поможем (есть бесплатный курс английского внутри компании).</li>
            </ul>
            <h4>Будет дополнительным плюсом</h4>
            <ul class="list">
                <li>Работа в&nbsp;проектах Web hosting, SaaS, PaaS, etc.</li>
                <li>Хорошее знание и&nbsp;понимание интернет-сервисов и&nbsp;инфраструктуры.</li>
                <li>Большим преимуществом будет опыт работы в&nbsp;веб-студии или хостинговой компании.</li>
            </ul>
        </div>
    </div>
</section>
