---
title: Support Engineer
salary: от 60 000 до 130 000 руб. на руки
feedback: https://survey.alchemer.eu/s3/90286307/Plesk
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Plesk&nbsp;&mdash; это контрольная панель для автоматизации администрирования сервера. Plesk широко применяется для администрирования web хостинга, поскольку позволяет свести операции по&nbsp;настройки веб-сервера к&nbsp;простым операциям в&nbsp;контрольной панели. Сегодня Plesk может быть установлен на&nbsp;Linux и&nbsp;Windows сервера, а&nbsp;также предустановлен на&nbsp;образах виртуальных машин наиболее популярных облачных провайдерах, таких как Amazon, MS&nbsp;Azure или Google.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Plesk Support&nbsp;&mdash; это, без преувеличения, лицо компании.&nbsp;24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю, 365 дней в&nbsp;году инженеры технической поддержки решают различные задачи связанные с&nbsp;работой продукта и&nbsp;всех сервисов, которыми управляет Plesk, гарантируя устойчивую и&nbsp;бесперебойную работу серверов клиентов.</p>
            <p>Мы&nbsp;очень плотно взаимодействуем с&nbsp;департаментом разработки, выступая &laquo;голосом&raquo; клиентов, помогая улучшать и&nbsp;развивать продукт.</p>
            <p> В&nbsp;команде более 50&nbsp;инженеров, находящихся по&nbsp;всему миру и&nbsp;обеспечивающих поддержку на&nbsp;6&nbsp;языках: Английском, Немецком, Испанском, Португальском, Японском и&nbsp;Русском.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Обазянности</h3>
            <ul class="list">
                <li>Техническое сопровождение платформы Plesk</li>
                <li>Решение задач, связанных с&nbsp;системным администрированием и&nbsp;администрированием хостинг сервисов (Wеb-сервера, почтовые сервера, базы данных, web applications , CMS (Wordpress, Joompla etc) и&nbsp;т.д.).</li>
                <li>Взаимодействие с&nbsp;департаментом разработок, работа над улучшением качества и&nbsp;функционала продукта.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы&nbsp;ждём от&nbsp;вас?</h3>
            <ul class="list">
                <li>Разговорный английский</li>
                <li>Техническое образование в&nbsp;IT сфере</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что предлагаем?</h3>
            <ul class="list">
                <li>Подготовку и&nbsp;обучение (в&nbsp;зависимости от&nbsp;опыта, курс по&nbsp;конкретными сервисам и&nbsp;ОС; управление сервисами и&nbsp;приложениями через платформу Plesk; бизнес логика продукта и&nbsp;&laquo;как оно устроено под капотом&raquo;) перед началом работы</li>
                <li>Работу с&nbsp;новейшими технологиями и&nbsp;постоянное развитие, наставничество более опытных коллег</li>
                <li>Прозрачную и&nbsp;понятную систему карьерного и&nbsp;финансового роста</li>
                <li>ДМС и&nbsp;стоматологию в&nbsp;вашем регионе</li>
                <li>Корпоративное обучение английскому</li>
                <li>Официальное трудоустройство, белую заработную плату</li>
            </ul>
        </div>
    </div>
</section>
