---
title: Middle/Senior Vue.js Frontend Developer (XOVI)
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49202010
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Product</h3>
            <p>XOVI&nbsp;is one of&nbsp;WebPros&rsquo; products among with cPanel and Plesk. It&rsquo;s an&nbsp;All-In-One SEO Software made in&nbsp;Germany.</p>
            <p>We&nbsp;are offering SaaS solutions for the online marketing industry since 2009, helping businesses be&nbsp;more successful on&nbsp;the web.</p>
            <p>Using our research and analytics software gives our clients a&nbsp;significant competitive advantage in&nbsp;search engine optimization and search engine- and affiliate marketing.</p>

        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Team</h3>
            <p>We&nbsp;collect, analyse, and present all the relevant data necessary for successful online marketing. Maximising traffic through search engines, finding and employing the most valuable keywords, and building a&nbsp;reliable affiliate network are all made possible with XOVI.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
           <h3 class="title">Required skills:</h3>
           <ul class="list">
            <li>2+&nbsp;years of&nbsp;experience in&nbsp;Front End development</li>
            <li>HTML5, CSS3 (including SCSS)</li>
            <li>JavaScript (ES6+, understanding ES5)</li>
            <li>Familiarity with the Vue.js ecosystem, including Vuex, Vue router, Vue test utils and other Vue environments</li>
            <li>Git (or&nbsp;other code versioning tools)</li>
            <li>Experience with REST APIs</li>
            <li>Understanding of&nbsp;principles SOLID, DRY, KISS</li>
            <li>Good communication skills, team player</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Would be&nbsp;great</h3>
            <ul class="list">
            <li>Intermediate English</li>
            <li>Vuetify</li>
            <li>Figma or&nbsp;Zeplin doesn&rsquo;t surprise you but instead has been helping you build the best user interfaces over the years</li>
            <li>University degree in&nbsp;Computer Science or&nbsp;similar educational background</li>
            <li>Familiarity with automated JavaScript testing</li>
            <li>Postman</li>
            <li>Node.js</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">We offer</h3>
            <ul class="list">
                <li>Stable product company</li>
                <li>Full equipment (laptop, monitors and so&nbsp;on)</li>
                <li>Corporate events</li>
            </ul>
        </div>
    </div>
</section>
