---
title: Customer Service Representative
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49533162
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Product</h3>
            <p>Founded in&nbsp;early 2017, WebPros brings together some widely used web hosting, billing automation, infrastructure, server management and online marketing software solutions.</p>
            <p>Constantly adding new brands and products to&nbsp;its portfolio, in&nbsp;its current formula, WebPros comprises Plesk, cPanel, Nixstats, SolusVM, WHMCS, XOVI and koality. Overall, we&nbsp;power more than 85&nbsp;million websites on&nbsp;more than 900,000 servers worldwide.</p>
            <p>Discover a&nbsp;career you love at&nbsp;WebPros and contribute to&nbsp;our continued success.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Team:</h3>
            <p>Our global team is&nbsp;made up&nbsp;of&nbsp;600+ tech-loving professionals with offices around the globe. You will join a&nbsp;dynamic and fast-paced environment and work with cross-functional teams to&nbsp;design, build and roll-out products that deliver the company&rsquo;s vision and strategy.</p>
            <p>Online Sales team is&nbsp;a&nbsp;part of&nbsp;Sales department and is&nbsp;providing global support for customers regarding licensing and sales questions about Plesk products.</p>
            <p>Strategic goal of&nbsp;the team is&nbsp;to&nbsp;provide high quality services to&nbsp;make sure the customers can effectively use Plesk products to&nbsp;increase their business profit.</p>
         </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Responsibilities:</h3>
            <ul class="list">
            <li>Communicating with customers via email, phone and chat about questions and issues they have regarding Plesk products and services (only incoming requests)</li>
            <li>Managing licenses for customers (renewal, upgrade, cancellation, etc.)</li>
            <li>Processing Online orders for Plesk products and services</li>
            <li>Assisting Plesk employees with internal licensing questions and issues.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Requirements:</h3>
            <ul class="list">
            <li>Work experience is&nbsp;not required</li>
            <li>University degree (or&nbsp;senior student)</li>
            <li>Upper-Intermediate English level (both writing and verbal)</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">            
            <h3 class="title">Qualities that we&nbsp;highly value:</h3>
            <ul class="list">
            <li>Strong communication skills</li>
            <li>High degree of&nbsp;accuracy</li>
            <li>Strong sense of&nbsp;responsibility and care</li>
            <li>Flexibility</li>
            <li>Ability to&nbsp;cope with stress</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Job conditions:</h3>
            <ul class="list">
                <li>Five-day work week, evening shift (11:00&nbsp;&mdash; 20:00/12:00&nbsp;&mdash; 21:00)</li>
                <li>Formal employment, officially declared salary (work on&nbsp;state holidays is&nbsp;double-paid)</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">We&nbsp;offer:</h3>
            <ul class="list">
                <li>Work in&nbsp;international&nbsp;IT company</li>
                <li>Career growth</li>
                <li>Competitive salary</li>
                <li>Cohesive team of&nbsp;professionals</li>
                <li>Extended medical insurance</li>
                <li>Сompensation for sports activities</li>
                <li>Corporate events several times a&nbsp;year</li>
            </ul>
        </div>
    </div>
</section>
