---
title: Security engineer
---

<main class="main vacancy">
    <section class="section vacancy__heading">
        <div class="content">
            <a class="vacancy__back-link" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="8" viewBox="0 0 20 8"><path d="M.2 3.73a.45.45 0 00-.15.33.42.42 0 00.15.33l3.45 3.27c.1.08.22.13.35.13.13 0 .26-.05.35-.13.1-.1.14-.21.14-.34A.46.46 0 004.35 7L1.7 4.6h17.8c.13 0 .26-.06.35-.15.1-.09.15-.2.15-.33a.46.46 0 00-.15-.34.52.52 0 00-.35-.13H1.7l2.65-2.51c.1-.09.14-.2.14-.33a.46.46 0 00-.14-.33A.51.51 0 004 .33a.51.51 0 00-.35.14L.2 3.73z"/></svg>
                <span>Вернуться на <b>plesk.tech</b></span>
            </a>
            <h1 class="vacancy__title">{{ title }}</h1>
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/46318560" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>

    <section class="section vacancy__intro">
        <div class="content">
            <div class="vacancy__item flow">
                <h3 class="title">Продукт</h3>
                <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира. Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk. Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java. Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
            </div>
            <div class="vacancy__item flow">
                <h3 class="title">Команда</h3>
                <p>Наша команда занимается изучением продуктов и&nbsp;сервисов компании с&nbsp;целью сделать их&nbsp;более безопасными. Мы&nbsp;проводим встречи с&nbsp;разработчиками по&nbsp;моделированию угроз, изучаем код наших продуктов, обсуждаем реализацию решений с&nbsp;точки зрения безопасности. Это означает, что мы&nbsp;сами не&nbsp;правим код наших продуктов, мы&nbsp;нацелены на&nbsp;то, чтобы найти, проанализировать уязвимости, оценить риски и&nbsp;обеспечить этой информацией команды разработки. На&nbsp;текущем этапе мы&nbsp;сильно вкладываемся в&nbsp;DevSecOps практики, то&nbsp;есть встраиваем различные практики и&nbsp;технологии в&nbsp;процесс разработки. Мы&nbsp;координируем работу Bug Bounty программы и&nbsp;взаимодействуем с&nbsp;внешними аудиторами.</p>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Какие будут задачи</h3>
                <ul class="list">
                    <li>Отслеживание и&nbsp;анализ уязвимостей в&nbsp;используемых библиотеках и&nbsp;внешних компонентах</li>
                    <li>Интеграция процессов и&nbsp;инструментов безопасной разработки DevSecOps для продуктов и&nbsp;сервисов компании (SCA, SAST, DAST, и&nbsp;другие).</li>
                    <li>Анализ рисков и&nbsp;моделирование угроз</li>
                    <li>Анализ кода, участие в&nbsp;ревью кода и&nbsp;тестирование продукта на&nbsp;наличие уязвимостей и&nbsp;слабых мест</li>
                    <li>Работа с&nbsp;внешними аудиторами и&nbsp;программой Bug Bounty</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
                <h4 class="title">Обязательно</h4>
                <ul class="list">
                    <li>Хорошее системное знание Linux и&nbsp;аспектов безопасности системы.</li>
                    <li>Понимание сути уязвимостей, как они возникают, как их&nbsp;не&nbsp;допускать.</li>
                    <li>Понимание TCP/IP и&nbsp;того, как работают DNS, FTP, SMTP, HTTP, HTTPS</li>
                    <li>Понимание TLS, криптографии</li>
                    <li>Уметь читать и&nbsp;писать на&nbsp;английском языке</li>
                </ul>
                <h4>Будет дополнительным плюсом</h4>
                <ul class="list">
                    <li>Опыт работы в&nbsp;аналогичной должности</li>
                    <li>Опыт интеграции инструментов DevSecOps</li>
                    <li>Опыт разработки на&nbsp;любом языке программирования, умение разобраться в&nbsp;чужом коде (PHP, Go, Java, Javascript, Python)</li>
                    <li>Опыт работы с&nbsp;облаками (AWS, Google Cloud)</li>
                    <li>Опыт работы с&nbsp;Docker, Kubernetes</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
                <ul class="list">
                    <li>Каждую неделю один человек из&nbsp;команды занимается всеми внешними обращениями, другие члены команды в&nbsp;это время сфокусированно занимаются &laquo;стратегическими&raquo; задачами. Затем меняемся.</li>
                    <li>Раз в&nbsp;две недели проходит встреча security гильдии, где мы&nbsp;обсуждаем с&nbsp;разработчиками насущные проблемы, рассказываем о&nbsp;новых инструментах, формируем вокруг себя группу Security Champion-ов внутри команд разработки.</li>
                    <li>Весь документооборот (в&nbsp;Confluence, Jira и&nbsp;почте) ведется на&nbsp;английском языке, будьте готовы много писать и&nbsp;читать.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/46318560" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>
    <script src="//embed.typeform.com/next/embed.js"></script>
</main>
