---
title: UX designer
---

<main class="main vacancy">
    <section class="section vacancy__heading">
        <div class="content">
            <a class="vacancy__back-link" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="8" viewBox="0 0 20 8"><path d="M.2 3.73a.45.45 0 00-.15.33.42.42 0 00.15.33l3.45 3.27c.1.08.22.13.35.13.13 0 .26-.05.35-.13.1-.1.14-.21.14-.34A.46.46 0 004.35 7L1.7 4.6h17.8c.13 0 .26-.06.35-.15.1-.09.15-.2.15-.33a.46.46 0 00-.15-.34.52.52 0 00-.35-.13H1.7l2.65-2.51c.1-.09.14-.2.14-.33a.46.46 0 00-.14-.33A.51.51 0 004 .33a.51.51 0 00-.35.14L.2 3.73z"/></svg>
                <span>Вернуться на <b>plesk.tech</b></span>
            </a>
            <h1 class="vacancy__title">{{ title }}</h1>
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/44361762" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>

    <section class="section vacancy__intro">
        <div class="content">
            <div class="vacancy__item flow">
                <h3 class="title">Продукт</h3>
                <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира. Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk. Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java. Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
            </div>
            <div class="vacancy__item flow">
                <h3 class="title">Команда</h3>
                <p>Отдел UI/UX дизайна занимается проектированием взаимодействия пользователей с&nbsp;продуктами и&nbsp;сервисами, разрабатываемыми в&nbsp;нашей компании</p>
                <p>Удобный, функциональный и&nbsp;привлекательный интерфейс уже давно стал неотъемлемой частью любого успешного продукта и&nbsp;может стать определяющим при его выборе. Поэтому результат работы команды дизайна особенно важен для того, чтобы наши пользователи получали пользу и&nbsp;удовольствие от&nbsp;использования наших продуктов.</p>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Какие будут задачи</h3>
                <p>Мы&nbsp;приглашаем в&nbsp;нашу команду&nbsp;UX дизайнера для проектирования пользовательского интерфейса для продуктов и&nbsp;сервисов, разрабатываемых в&nbsp;компании.</p>
                <p>Основной целью наших продуктов является упрощение работы веб-разработчикам и&nbsp;компаниям, предоставляющим услуги хостинга. Например, если вы&nbsp;веб-студия и&nbsp;вам заказали разработку веб-сайта, то&nbsp;вы, скорее всего, пойдете к&nbsp;хостинг провайдеру, чтобы купить доменное имя для этого сайта, а&nbsp;также дисковое пространство для файлов, базы данных, поддержку языков программирования, СМS и&nbsp;прочие услуги. И, как правило, для управления всем этим хозяйством вам дадут доступ к&nbsp;какому-то веб-приложению (контрольной панели) и&nbsp;этим приложением вполне может быть наш продукт&nbsp;&mdash; Plesk.</p>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
                <h4 class="title">Обязательно</h4>
                <ul class="list">
                    <li>Cовременные инструменты и&nbsp;продукты для работы (Figma, UsabilityHub, Jira, Confluence, Mirо, Slack etc)</li>
                    <li>Нацеленность на&nbsp;достижение результата, отсутствие &laquo;бюрократии&raquo; и&nbsp;затрудняющих жизнь процессов</li>
                    <li>Обучения, тренинги, участия в&nbsp;конференциях, различные курсы (в&nbsp;том числе и&nbsp;по&nbsp;английскому языку)</li>
                    <li>Расширенная программа ДМС и&nbsp;корпоративный врач в&nbsp;офисе</li>
                    <li>Кандидатов из&nbsp;других городов при переезде мы&nbsp;готовы поддержать суммой в&nbsp;размере до&nbsp;двух месячных окладов</li>
                </ul>
                <h4>Важно знать перед тем как откликнуться на&nbsp;вакансию</h4>
                <p>(приведенные ниже пункты не&nbsp;для того, чтобы отговорить вас, а&nbsp;чтобы дать дополнительную информацию во&nbsp;избежание потери вашего и&nbsp;нашего времени):</p>
                <ul class="list">
                    <li>эта вакансия не&nbsp;про графический дизайн красивых баннеров/иконок/лендингов/сайтов, а&nbsp;про анализ и&nbsp;понимание потребностей пользователя продукта, проектирование прототипов, их&nbsp;дальнейшее тестирование и&nbsp;описание поведения для реализации;</li>
                    <li>вообще не&nbsp;требуется сильных навыков именно в&nbsp;UI и&nbsp;графике, это вам, скорее всего, у&nbsp;нас не&nbsp;пригодится&nbsp;&mdash; у&nbsp;нас есть библиотека интерфейсных элементов и&nbsp;паттернов, и&nbsp;не&nbsp;надо каждый экран каждый раз заново уникально придумывать и&nbsp;попиксельно прорисовывать; и&nbsp;у&nbsp;нас уже есть крутой графический дизайнер;</li>
                    <li>мы&nbsp;не&nbsp;дизайн-агентство, где все время что-то новенькое и&nbsp;разнообразное, а&nbsp;компания, которая уже долгое время делает продукт в&nbsp;определенной отрасли (хостинг и&nbsp;веб-разработка);</li>
                    <li>дизайна приложений для мобильных устройств у&nbsp;нас нет, в&nbsp;настоящее время для нас это не&nbsp;приоритет;</li>
                    <li>знание английского языка очень важно, потому что происходит много общения (и&nbsp;письменного, и&nbsp;устного) с&nbsp;зарубежными коллегами и&nbsp;клиентами. Поэтому если с&nbsp;английским &laquo;совсем плохо&raquo;, то, скорее всего, у&nbsp;нас не&nbsp;получится вместе работать. Если с&nbsp;английским &laquo;средне&raquo; и&nbsp;чувствуете силы его дальше интенсивно прокачивать, то&nbsp;есть все шансы на&nbsp;успешное сотрудничество;</li>
                    <li>в&nbsp;настоящее время мы&nbsp;ищем дизайнера в&nbsp;Новосибирске (где наш R&amp;D&nbsp;офис) или в&nbsp;других городах с&nbsp;минимальной разницей в&nbsp;часовых поясах; европейская часть страны с&nbsp;разницей в&nbsp;три-четыре часа пока не&nbsp;рассматривается.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <div class="flow">
                <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
                <ul class="list">
                    <li>Cовременные инструменты и&nbsp;продукты для работы (Figma, UsabilityHub, Jira, Confluence, Mirо, Slack etc)</li>
                    <li>Нацеленность на&nbsp;достижение результата, отсутствие &laquo;бюрократии&raquo; и&nbsp;затрудняющих жизнь процессов</li>
                    <li>Обучения, тренинги, участия в&nbsp;конференциях, различные курсы (в&nbsp;том числе и&nbsp;по&nbsp;английскому языку)</li>
                    <li>Расширенная программа ДМС и&nbsp;корпоративный врач в&nbsp;офисе</li>
                    <li>Кандидатов из&nbsp;других городов при переезде мы&nbsp;готовы поддержать суммой в&nbsp;размере до&nbsp;двух месячных окладов</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section vacancy__description">
        <div class="content">
            <button class="button vacancy__button" data-tf-popup="y29MiCC8" data-tf-size="80">Откликнуться</button>
            <a href="https://novosibirsk.hh.ru/vacancy/44361762" target="_blank" rel="noopener noreferrer">Посмотреть вакансию на&nbsp;hh.ru</a>
        </div>
    </section>
    <script src="//embed.typeform.com/next/embed.js"></script>
</main>
