---
date: 2021-01-03
title: Backend Developer (360 Cloud Services)
salary: 150 000 — 300 000 руб.
hhLink: https://novosibirsk.hh.ru/vacancy/52265173
tags: other
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>С&nbsp;самого основания в&nbsp;начале 2017 WebPros принялась за&nbsp;объединение инструментов работы с&nbsp;хостингом, автоматизации биллинга и&nbsp;инфраструктуры, управления серверами, онлайн продвижения.</p>
            <p>Постоянно добавляя новые бренды и&nbsp;продукты, семья WebPros на&nbsp;текущий момент состоит из&nbsp;Plesk, cPanel, Nixstats, SolusVM, WHMCS, XOVI и&nbsp;Koality.</p>
            <p>В&nbsp;целом нашими решениями сейчас пользуются более 85&nbsp;миллионов сайтов и&nbsp;более 900 тысяч серверов по&nbsp;всему миру.
            </p>Наша SaaS платформа поможет разработчикам создавать, эксплуатировать и&nbsp;расширять цифровое присутствие, поддерживая полный жизненный цикл продукта. От&nbsp;создания сайтов до&nbsp;мониторинга успеха.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда:</h3>
            <p>Наша команда состоит из 600+&nbsp;профессионалов, любящих технологии.</p>
            <p>Вы&nbsp;присоединитесь к&nbsp;динамичному, быстро меняющемуся окружению и&nbsp;сможете работать с&nbsp;межфункциональными командами над проектированием, созданием и&nbsp;внедрением продуктов, которые реализуют видение и&nbsp;стратегию компании.</p>
         </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие задачи предстоят:</h3>
            <ul class="list">
            <li>Курировать запуск элементов новой облачной платформы.</li>
            <li>Работа с&nbsp;менеджером по&nbsp;продукту и&nbsp;командой технического директора над созданием платформы. Наша цель&nbsp;&mdash; успех пользователей и&nbsp;партнеров.</li>
            <li>Деплой, обслуживание и&nbsp;контроль работы приложений на&nbsp;AWS с&nbsp;помощью terraForm.</li>
            <li>Архитектура, создание, тестирование и&nbsp;выпуск функционала, ориентированного на&nbsp;продукт.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Требования к&nbsp;опыту:</h3>
            <ul class="list">
            <li>Уверенное знание языков программирования: PHP</li>
            <li>Понимание принципов построения микросервисной архитектуры</li>
            <li>Знание минимум одного фреймворка (Zend Framework, Symfony, Laravel)</li>
            <li>Умение писать модульные и&nbsp;функциональные тесты</li>
            <li>Опыт командной работы (SVN/Git, code review, issue tracker)</li>
            <li>Опыт разработки программного обеспечения от&nbsp;4-х лет</li>
            <li>Умение излагать свои мысли на&nbsp;английском языке устно и&nbsp;письменно на&nbsp;уровне upper-intermediate</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Дополнительный плюс за:</h3>
            <ul class="list">
            <li>NodeJS (puppeteer, nest.js)</li>
            <li>Java Script (Vue, React, Nuxt, Next)</li>
            <li>MongoDb</li>
            <li>Python</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что вам понравится:</h3>
            <ul class="list">
                <li>Мы&nbsp;работаем по&nbsp;принципу remote first, поэтому офисы в&nbsp;центре Новосибирска, в&nbsp;Академгородке или удаленка&nbsp;&mdash; на&nbsp;твой выбор.</li>
                <li>Research Days каждые две недели. Можно поиграть с&nbsp;интересными технологиями, создать прототип, поизучать новое одному или в&nbsp;команде.</li>
                <li>Обучение английскому. Документацию и&nbsp;общение с&nbsp;иностранными коллегами мы&nbsp;ведем на&nbsp;английском, поэтому учим его всей компанией.</li>
                <li>Развитие. Мы&nbsp;посещаем топ-конференции, тренинги, проходим сертификации. Еще у&nbsp;нас есть гильдии&nbsp;&mdash; сообщества, где коллеги из&nbsp;разных команд делятся опытом. Есть гильдии backend, frontend, QA, Kanban и&nbsp;т.д. По&nbsp;пятницам проводим Tech Talks на&nbsp;любые темы. Периодически проводим BizTalks где топ-менеджмент рассказывает в&nbsp;деталях, как у&nbsp;нас дела.</li>
                <li>Выступления. Можно сделать Tech Talk или выступить с&nbsp;докладом на&nbsp;внешней конференции. Желающих выступать мы&nbsp;отправляем в&nbsp;школу ораторского мастерства. Желающих писать статьи&nbsp;&mdash; на&nbsp;курсы писательства от&nbsp;Habr.</li>
            </ul>
        </div>
    </div>
</section>
