---
date: 2021-01-01
title: Director Engineering (360 Cloud Services)
salary: от 400 000 руб. на руки
tags: other
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Product</h3>
            <p>Founded in&nbsp;early 2017, WebPros brings together some widely used web hosting, billing automation, infrastructure, server management and online marketing software solutions.</p>
            <p>Constantly adding new brands and products to&nbsp;its portfolio, in&nbsp;its current formula, WebPros comprises Plesk, cPanel, Nixstats, SolusVM, WHMCS, XOVI and koality. Overall, we&nbsp;power more than 85&nbsp;million websites on&nbsp;more than 900,000 servers worldwide.</p>
            <p>Discover a&nbsp;career you love at&nbsp;WebPros and contribute to&nbsp;our continued success.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Team:</h3>
            <p>Our global team is&nbsp;made up&nbsp;of&nbsp;600+ tech-loving professionals with offices around the globe. You will join a&nbsp;dynamic and fast-paced environment and work with cross-functional teams to&nbsp;design, build and roll-out products that deliver the company&rsquo;s vision and strategy.</p>
         </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <p>As&nbsp;the &laquo;Director Engineering&raquo;, the Employee has the following main responsibilities and duties.<p>
            <p>You act as&nbsp;a&nbsp;market expert and product evangelist to&nbsp;build awareness and understanding with limited direction and an&nbsp;entrepreneurial spirit, based on&nbsp;modern digital and product management methods&nbsp;&mdash; working out of&nbsp;our Plesk office in&nbsp;Novosibirsk, Russia. With regular travel to&nbsp;our company&rsquo;s offices in&nbsp;Germany.<p>
            <ul class="list">
            <li>Translate product strategy into detailed requirements and prototypes</li>
            <li>Make recommendations and present business advantages for technology initiatives and improvements</li>
            <li>Scope and prioritize activities based on&nbsp;business and customer impact</li>
            <li>Work closely with engineering teams and product managers to&nbsp;deliver with quick time-to-market and optimal resources</li>
            <li>Develop your team professionally and personally</li>
            <li>Gain a&nbsp;deep understanding of&nbsp;customer experience, identify and fill product gaps and generate new ideas that grow market share, improve customer experience and drive growth</li>
            <li>Design, develop and integrate scalable applications</li>
            <li>Define the technology strategy and architecture for our SaaS products and drive the required initiatives </li>
            <li>Manage and optimize infrastructure assets to&nbsp;satisfy internal financial targets</li>
            <li>&mdash;&nbsp;Conduct research to&nbsp;remain up-to-date and knowledgeable regarding industry trends and emerging technologies in&nbsp;anticipation of&nbsp;new processes and system alterations, as&nbsp;well as&nbsp;to&nbsp;analyze and improve upon technology standards across the organization to&nbsp;maintain a&nbsp;technological advantage for teaching and learning.</li>
            <li>Work closely with Marketing, Sales, Business Development and other R&amp;D departments to&nbsp;define and deliver new products and enhancements</li>
            <li>Act as&nbsp;the interface to&nbsp;other teams within WebPros and to&nbsp;the leadership team</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">We&nbsp;offer:</h3>
            <ul class="list">
                <li>Work in&nbsp;international&nbsp;IT company</li>
                <li>Competitive salary</li>
                <li>Cohesive team of&nbsp;professionals</li>
                <li>Extended medical insurance</li>
                <li>Сompensation for sports activities</li>
                <li>Corporate events several times a&nbsp;year</li>
            </ul>
        </div>
    </div>
</section>
