---
date: 2021-01-14
title: QA Engineer (360 Cloud Services)
salary: от 150 000 до 300 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/49532454
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>WebPros создан в&nbsp;2017&nbsp;году, с&nbsp;целью объединения программных решений используемых для веб-хостинга, автоматизации биллинга, инфраструктуры, управления серверами и&nbsp;онлайн-маркетинга.</p>
            <p>WebPros обеспечивает работу&nbsp;30% сайтов и&nbsp;веб-приложений в&nbsp;Интернете.</p>
            <p>В&nbsp;состав WebPros в&nbsp;входят Plesk, cPanel, Nixstats, SolusVM, WHMCS, XOVI и&nbsp;Koality.</p>
            <p>Мы&nbsp;обслуживаем 85&nbsp;миллионов веб-сайтов и&nbsp;900&nbsp;000&nbsp;серверов.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда:</h3>
            <p>Наша глобальная команда состоит из&nbsp;более чем 600&nbsp;разработчиков, DevOps и&nbsp;QA инженеров по&nbsp;всему миру.</p>
            <p>Вы&nbsp;будете работать в&nbsp;кросс-функциональной команде над проектированием, созданием и&nbsp;внедрением нового продукта.</p>
         </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чем предстоит заниматься:</h3>
            <ul class="list">
            <li>Quality Assistance (оказывать поддержку разработчикам в&nbsp;обеспечении качества)</li>
            <li>Участвовать в&nbsp;Code Review</li>
            <li>Обеспечивать бесперебойную работу сервиса</li>
            <li>Исправлять ошибки</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чего ожидаем от&nbsp;вас:</h3>
            <ul class="list">
            <li>Опыт тестирования.</li>
            <li>Опыт работы с&nbsp;Jenkins (или аналогичной системой).</li>
            <li>Опыт командной работы (JIRA, Git, ревью кода)</li>
            <li>Желание прокачивать hard и&nbsp;soft skills</li>
            <li>Ответственность, самоорганизованность, желание учиться</li>
            <li>Английский язык на&nbsp;уровне B1&nbsp;и&nbsp;выше</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Будет дополнительным плюсом:</h3>
            <ul class="list">
            <li>Знание SQL на&nbsp;уровне создания запросов</li>
            <li>Опыт проведения нагрузочного тестирования.</li>
            <li>Опыт работы с&nbsp;Amazon Web Services</li>
            <li>Опыт работы с&nbsp;системами управления конфигурациями (Terraform или аналогичными)</li>
            <li>Знание JS</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что вам понравится:</h3>
            <ul class="list">
                <li>Офисы в&nbsp;центре Новосибирска, в&nbsp;Академгородке или удаленка&nbsp;&mdash; на&nbsp;твой выбор.</li>
                <li>Research Days каждые две недели. Можно поиграть с&nbsp;интересными технологиями, создать прототип, поизучать новое одному или в&nbsp;команде.</li>
                <li>Обучение английскому. Документацию и&nbsp;общение с&nbsp;иностранными коллегами мы&nbsp;ведем на&nbsp;английском, поэтому учим его всей компанией.</li>
                <li>Развитие. Мы&nbsp;посещаем топ-конференции, тренинги, проходим сертификации. Еще у&nbsp;нас есть гильдии&nbsp;&mdash; сообщества, где коллеги из&nbsp;разных команд делятся опытом. Есть гильдии backend, frontend, QA, Kanban и&nbsp;т.д. По&nbsp;пятницам проводим Tech Talks на&nbsp;любые темы. Периодически проводим BizTalks где топ-менеджмент рассказывает в&nbsp;деталях, как у&nbsp;нас дела.</li>
                <li>Выступления. Можно сделать Tech Talk или выступить с&nbsp;докладом на&nbsp;внешней конференции. Желающих выступать мы&nbsp;отправляем в&nbsp;школу ораторского мастерства. Желающих писать статьи&nbsp;&mdash; на&nbsp;курсы писательства от&nbsp;Habr.</li>
            </ul>
        </div>
    </div>
</section>
