---
date: 2022-07-02
title: Senior Technical Support Engineer (Plesk)
salary: от&nbsp;90&nbsp;000 до&nbsp;110&nbsp;000&nbsp;руб.&nbsp;на&nbsp;руки
Посмотреть вакансию на hh.ru: https://novosibirsk.hh.ru/vacancy/49788810
tags: support
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Plesk&nbsp;&mdash; это контрольная панель для автоматизации администрирования сервера. Plesk широко применяется для администрирования web хостинга, поскольку позволяет свести операции по&nbsp;настройки веб-сервера к&nbsp;простым операциям в&nbsp;контрольной панели. Сегодня Plesk может быть установлен на&nbsp;Linux и&nbsp;Windows сервера, а&nbsp;также предустановлен на&nbsp;образах виртуальных машин наиболее популярных облачных провайдерах, таких как Amazon, MS&nbsp;Azure или Google.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Plesk Support&nbsp;&mdash; это, без преувеличения, лицо компании.&nbsp;24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю, 365 дней в&nbsp;году инженеры решают различные задачи связанные с&nbsp;работой продукта и&nbsp;всех сервисов, которыми управляет Plesk, гарантируя устойчивую и&nbsp;бесперебойную работу серверов клиентов.</p>
            <p>Мы&nbsp;очень плотно взаимодействуем с&nbsp;департаментом разработки, выступая &laquo;голосом&raquo; клиентов, помогая улучшать и&nbsp;развивать продукт.</p>
            <p>В&nbsp;команде более 50&nbsp;инженеров, находящихся по&nbsp;всему миру и&nbsp;обеспечивающих поддержку на&nbsp;6&nbsp;языках: английском, немецком, испанском, португальском, японском и&nbsp;русском.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Кого мы&nbsp;ищем:</h3>
            <ul class="list">
                <li>Инженера с&nbsp;опытом системного администратора для работы в&nbsp;техническом сопровождении продуктов семейства Plesk. Ты&nbsp;будешь помогать системным администраторам крупнейших в&nbsp;мире провайдеров хостинга. Тебе предстоит решать задачи по&nbsp;конфигурированию серверов и&nbsp;устранению сбоев в&nbsp;процессе их&nbsp;эксплуатации.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Чем ты&nbsp;будешь заниматься?</h3>
            <ul class="list">
                <li>В&nbsp;первый месяц работы ты&nbsp;изучишь как Plesk управляет и&nbsp;взаимодействует с&nbsp;сервисами на&nbsp;уровне операционной системы</li>
                <li>Далее ты&nbsp;приступишь к&nbsp;решению задач непосредственно на&nbsp;серверном окружении клиентов под руководством опытного ментора</li>
                <li>Тебе предстоит решать интересные и&nbsp;нетривиальные задачи для клиентов по&nbsp;всему миру</li>
                <li>Ты&nbsp;будешь обмениваться полученными знаниями с&nbsp;коллегами и&nbsp;клиентами через ведение публичной Базы Знаний</li>
                <li>Ты&nbsp;будешь взаимодействовать с&nbsp;департаментом разработки, работая над улучшением качества и&nbsp;функционала продукта</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы&nbsp;ждем от&nbsp;тебя?</h3>
            <ul class="list">
                <li>Готовность работать в&nbsp;гибком графике (только дневные смены)</li>
                <li>Умение излагать свои мысли на&nbsp;английском языке устно и&nbsp;письменно на&nbsp;уровне upper-intermediate</li>
                <li>Опыт работы системным администратором Linux/Windows или специалистом технической поддержки 2й&nbsp;и&nbsp;3й&nbsp;линии</li>
                <li>Навыки работы с&nbsp;командной строкой Linux/Windows (работа с&nbsp;файлами, пользователями, пакетами, пермиссиями и&nbsp;т.д.)</li>
                <li>Знание конфигов Apache, rewrite правил nginx и&nbsp;типов DNS записей</li>
                <li>Понимание чем отличается left join от&nbsp;right join, sftp от&nbsp;ftps, pop3 от&nbsp;imap</li>
                <li>Умение настроить submission порт для postfix и&nbsp;установить ssl сертификат для webmail</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что предлагаем?</h3>
            <ul class="list">
                <li>Конкурентную заработную плату</li>
                <li>Обучение и&nbsp;международную сертификацию RHCSA, RHCE, LPIC, LFCE etc.</li>
                <li>Прозрачную схему карьерного роста как внутри департамента, так и&nbsp;возможность дальнейшего развития в&nbsp;компании на&nbsp;такие позиции как&nbsp;QA инженер, DevOps или PHP/Java/JS разработчик</li>
                <li>Корпоративные курсы английского</li>
                <li>Компенсацию занятий спортом</li>
                <li>Трудоустройство по&nbsp;ТК&nbsp;РФ, полный соцпакет + расширенный ДМС с&nbsp;первых дней работы</li>
            </ul>
        </div>
    </div>
</section>
