---
date: 2021-01-02
title: Senior Technical Support Engineer (WHMCS) — Владивосток
salary: 60 000 — 85 000 руб.
Посмотреть вакансию на hh.ru: https://novosibirsk.hh.ru/vacancy/49313508
tags: support
---

<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>WHMCS&nbsp;&mdash; представляет собой универсальное решение для хостинг-компаний. Благодаря множеству функций, WHMCS позволяет управлять аккаунтами клиентов, автоматизировать многие рутинные операции.</p>
            <p>Можно смело сказать, что на&nbsp;данный момент WHMCS является наиболее удачным и&nbsp;оптимальным вариантом в&nbsp;плане выбора биллинг-панели для хостинга, об&nbsp;этом говорят как высокий интерес и&nbsp;востребованность, так и&nbsp;отзывы наших клиентов, которые пользуются WHMCS.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Support&nbsp;&mdash; это, без преувеличения, лицо компании.&nbsp;24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю, 365 дней в&nbsp;году инженеры решают различные задачи связанные с&nbsp;работой продукта и&nbsp;всех сервисов, гарантируя устойчивую и&nbsp;бесперебойную работу серверов клиентов.</p>
            <p>Наша глобальная команда состоит из&nbsp;более чем 600&nbsp;разработчиков, DevOps и&nbsp;QA, Support инженеров по&nbsp;всему миру.</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Кого мы&nbsp;ищем:</h3>
            <ul class="list">
                <li>Мы&nbsp;ищем в&nbsp;команду инженера по&nbsp;сопровождению с&nbsp;разговорным английским на&nbsp;удалённую работу (график работы 07:00-16:00 местное время Владивосток).</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Обязанности</h3>
            <ul class="list">
                <li>Техническое сопровождение клиентов WHMCS</li>
                <li>Решение задач, связанных с&nbsp;системным администрированием и&nbsp;администрированием хостинг сервисов (Wеb-сервера, почтовые сервера, базы данных, web applications , CMS (Wordpress, Joompla etc) и&nbsp;т.д.)</li>
                <li>Взаимодействие с&nbsp;департаментом разработки, работа над улучшением качества и&nbsp;функционала продукта.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что мы&nbsp;ждем от&nbsp;тебя?</h3>
            <ul class="list">
                <li>Опыт работы системным администратором, специалистом технической поддержки</li>
                <li>Опыт работы с&nbsp;северными операционными системами, ключевыми сервисами и&nbsp;сетевыми протоколами</li>
                <li>Техническое образование в&nbsp;IT сфере</li>
                <li>Уверенное владение английским языком (не&nbsp;ниже В2)</li>
            </ul>
        </div>
        <div class="flow">
            <h3 class="title">Будет дополнительным плюсом:</h3>
            <ul class="list">
                <li>Базововое знание PHP и&nbsp;билинга</li>
                <li>Опыт работы с&nbsp;web-сервисами (Apache, IIS, NGNIX, Bind, MSDNS etc)</li>
                <li>Опыт работы с&nbsp;почтовыми сервисами (Postfix, Smartermail, Kolab etc)</li>
                <li>Опыт работы с&nbsp;реляционными СУБД (SQL, MySQL etc)</li>
                <li>Опыт написания и&nbsp;поддержки web-приложений.</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Что предлагаем?</h3>
            <ul class="list">
                <li>Подготовку и&nbsp;обучение (в&nbsp;зависимости от&nbsp;опыта, курс по&nbsp;конкретными сервисам и&nbsp;ОС) перед началом работы</li>
                <li>Работу с&nbsp;новейшими технологиями и&nbsp;постоянное развитие, наставничество более опытных коллег</li>
                <li>Прозрачную и&nbsp;понятную систему карьерного и&nbsp;финансового роста</li>
                <li>ДМС и&nbsp;стоматологию в&nbsp;вашем регионе</li>
                <li>Корпоративное обучение английскому</li>
                <li>Белая заработная плата
                <li>Возмещение затрат на&nbsp;спорт&nbsp;/ фитнес</li>
                <li>Официальное трудоустройство по&nbsp;ТК&nbsp;РФ (бессрочный договор)</li>
            </ul>
        </div>
    </div>
</section>
