---
date: 2021-01-04
title: Tech Lead (Core Team, PHP)
salary: от 200 000 до 390 000 руб. на руки
hhLink: https://novosibirsk.hh.ru/vacancy/43405448
---
<section class="section vacancy__intro">
    <div class="content">
        <div class="vacancy__item flow">
            <h3 class="title">Продукт</h3>
            <p>Разрабатываем Plesk: панель управления серверами и&nbsp;веб-приложениями, продаваемую в&nbsp;140 странах мира.</p>
            <p>Не&nbsp;слышали о&nbsp;нас? Нужно срочно это исправить, так как&nbsp;6% веб-сайтов в&nbsp;Интернете хостятся на&nbsp;Plesk.</p>
            <p>Наш R&amp;D работает в&nbsp;Новосибирске, Академгородке и&nbsp;Кёльне. Пишем на&nbsp;PHP, JS, C++, Go, Python и&nbsp;Java.</p>
            <p>Сотрудничаем с&nbsp;Amazon Web Services, Google Cloud, Alibaba Cloud, Microsoft Azure и&nbsp;другими компаниями, входящими в&nbsp;Top 100 хостинговой индустрии.</p>
        </div>
        <div class="vacancy__item flow">
            <h3 class="title">Команда</h3>
            <p>Команда Core занимается разработкой бизнес-логики, интерфейсов (UI, CLI, Remote API), SaaS-сервисов и&nbsp;расширений продукта Plesk.</p>
            <p>Ключевые технологии проекта: PHP, JavaScript, MySQL, Linux, Selenium, PHPUnit, AWS</p>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Какие будут задачи</h3>
            <ul class="list">
                <li>Операционное лидерство в&nbsp;команде разработчиков (3-6&nbsp;чел)&nbsp;&mdash; технические решения, декомпозиция, распределение задач</li>
                <li>Планирование задач и&nbsp;отслеживание их&nbsp;состояния</li>
                <li>Оценка трудозатрат</li>
                <li>Должное качество кода и&nbsp;фичей.</li>
                <li>Проработка архитектуры и&nbsp;деталей реализации с&nbsp;командой</li>
                <li>Сопровождение интеграционных задач и&nbsp;взаимодействие с&nbsp;другими командами</li>
                <li>Взаимодействие с&nbsp;тестировщиками при оценке рисков качества и&nbsp;подготовке тестовых спецификаций</li>
                <li>Планирование улучшений в&nbsp;коде и&nbsp;ликвидации технического долга (рефакторинг)</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Требования к&nbsp;образованию и&nbsp;опыту</h3>
            <h4 class="title">Обязательно</h4>
            <ul class="list">
                <li>Опыт коммерческой разработки от&nbsp;5-ти лет</li>
                <li>Отлично владеть PHP или JavaScript</li>
                <li>Лично писать код (а&nbsp;не&nbsp;только руководить)</li>
                <li>Опыт работы в&nbsp;проектах от&nbsp;100 тысяч строк кода и&nbsp;более</li>
                <li>Опыт управления командой из&nbsp;2-х или более разработчиков от&nbsp;2-х лет</li>
                <li>Знание Linux на&nbsp;уровне системного администратора</li>
                <li>Умение анализировать требования и&nbsp;разбираться в&nbsp;деталях</li>
                <li>Умение планировать, оценивать работы и&nbsp;работать по&nbsp;срокам</li>
                <li>Умение определять риски и&nbsp;управлять ими</li>
                <li>Умение контролировать степень технического долга в&nbsp;проекте и&nbsp;умение с&nbsp;ним работать</li>
                <li>Знание английского на&nbsp;уровне свободного чтения/написания технической документации</li>
            </ul>
            <h4>Будет дополнительным плюсом</h4>
            <ul class="list">
                <li>Опыт создания с&nbsp;нуля или сильной переработки сложных сервисов или продуктов (множество компонент, взаимодействий, большой объем кода)</li>
                <li>Широкий кругозор в&nbsp;техническом плане (интерес к&nbsp;новым технологиям, желание изучать и&nbsp;пробовать)</li>
                <li>Разговорный английский</li>
            </ul>
        </div>
    </div>
</section>

<section class="section vacancy__description">
    <div class="content">
        <div class="flow">
            <h3 class="title">Пара слов о&nbsp;том, как мы&nbsp;работаем</h3>
            <ul class="list">
                <li>Используем современный стек технологий (отправим вам изучить материал о&nbsp;процессах разработки, выстроенных в&nbsp;R&amp;D)</li>
                <li>Отправляем разработчиков прокачивать свои навыки на&nbsp;профессиональных конференциях в&nbsp;столицы и&nbsp;за&nbsp;рубеж</li>
                <li>Даем возможность разрабатывать и&nbsp;внедрять собственные фичи в&nbsp;узаконенный Research Day и&nbsp;делиться полученными знаниями с&nbsp;коллегами на&nbsp;регулярных Tech Talks</li>
                <li>Помогаем совершенствовать разговорный английский с&nbsp;лучшими преподавателями&nbsp;&mdash; бесплатно</li>
            </ul>
        </div>
    </div>
</section>
