---
title: Plesk
layout: layouts/page.njk
type: inner
permalink: "/404.html"
eleventyExcludeFromCollections: true
---

<main class="main">
    <section class="section section--404">
        <div class="content">
            <div class="not-found flow">
                <h1 class="not-found__title">404</h1>
                <p>
                    К&nbsp;сожалению, запрашиваемая вами страница не&nbsp;найдена.<br>
                    Возможно, неправильно указан адрес или страница была удалена.
                </p>
                <p>
                    Попробуйте начать с&nbsp;<a href="/">главной страницы</a><br>
                    или воспользоваться навигацией, чтобы посмотреть другие разделы.
                </p>
            </div>
        </div>
    </section>
</main>
